<ol class="breadcrumb">
  <li><a href="/">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/lists">Lists</a>    
  </li>  
  <li>
    <a href="/groups/<%=@group.slug%>/lists/<%=@list.id%>"><%=@list.title%></a>    
  </li>      
  <% if @list_item.persisted? %>
    <li>
      <%= @list_item.title %>
    </li>      
    <li class="active">
      Edit
    </li>
  <% else %>
    <li class="active">
      New list item
    </li>    
  <% end %>
</ol>

<div class="row" style="margin-top: 10px">
  <div class="col-md-6 col-md-offset-3">

    <% form_for @list_item, @list_item.new_record? ? "/groups/#{@group.slug}/lists/#{@list.id}/new" : "/groups/#{@group.slug}/lists/#{@list.id}/edit/#{@list_item.id}", :class => 'form-horizontal', :multipart => true do |f| %>

      <%= f.text_block :title %>
      <%= f.text_block :link %>
      <%= f.text_area_block :content %>
      <%= f.submit_block destroy_url: "/groups/#{@group.slug}/lists/#{@list.id}/destroy/#{@list_item.id}" %>

    <% end %>

  </div>
</div>
