<ul class="page-options">  
  <li>        
    <a class="edit" href="/groups/<%=@group.slug%>/lists/<%=@list.id%>/edit">
      <i class="fa fa-pencil"></i> Edit
    </a>
  </li> 
</ul>

<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/lists">Lists</a>    
  </li>  
  <li>
    <%= @list.title %>
  </li>      
</ol>

<div class="row">
  <div class="<% if @list.list_items.any?(&:coordinates) %>col-md-4<% else %>col-md-8<% end %>">

    <h1>
      <%=@list.title%> <small><%=pluralize(@list.list_items.count, 'item')%></small>
      <a style="float: right" title="Download" class="btn btn-default" href="/groups/<%=@group.slug%>/lists/<%=@list.id%>.csv"><i class="fa fa-download"></i></a>
    </h1>

    <ol>
      <% list_items = @list.list_items.all.sort_by(&:"#{@list.order}"); list_items.reverse! if @list.order == 'score'; list_items.each { |list_item| %>
        <li style="font-size: 20px">
          <h2 style="display:inline; font-size:20px; line-height: 100%">
            <% if list_item.link %>
              <a href="<%=list_item.link%>"><%=list_item.title%></a>
            <% else %>
              <%=list_item.title%>
            <% end %>
          </h2>
          <span style="float: right">
            <% if @list.order == 'score' %>
              <a class="edit" href="/groups/<%=@group.slug%>/lists/<%=@list.id%>/vote/<%=list_item.id%>/1"><i class="fa fa-chevron-up"></i></a>
              <%=list_item.score%>
              <a class="edit" href="/groups/<%=@group.slug%>/lists/<%=@list.id%>/vote/<%=list_item.id%>/-1"><i class="fa fa-chevron-down"></i></a>      
            <% end %>
            <a class="edit" href="/groups/<%=@group.slug%>/lists/<%=@list.id%>/edit/<%=list_item.id%>"><i class="fa fa-pencil"></i></a>
            <a class="edit" href="/groups/<%=@group.slug%>/lists/<%=@list.id%>/destroy/<%=list_item.id%>" data-confirm="Are you sure you want to remove this item?"><i class="fa fa-times"></i></a>            
          </span>          
          <p style="font-size: 14px"><%=list_item.content%></p>          
        </li>
      <% } %>
    </ol>

  </div>
  <% if @list.list_items.any?(&:coordinates) %>
    <div class="col-md-4">    
      <div style="margin-top: 30px">
        <iframe style="height: 70vh" class="map" src="/groups/<%=@group.slug%>/lists/<%=@list.id%>/map"></iframe>
      </div>
    </div>
  <% end %>
  <div class="col-md-4">
    <h2>Add an item to this list</h2>
    <div id="add-single">
      <p><a href="javascript:;" onclick="$('#add-single').hide();
          $('#add-multiple').show();">Add multiple</a></p>    
        <% form_tag "/groups/#{@group.slug}/lists/#{@list.id}/add", :method => 'post' do %>
        <div class="form-group">
          <%= text_field_tag :title, :class => 'form-control', :placeholder => 'Title' %>
        </div>    
        <div class="form-group">
          <%= text_field_tag :link, :class => 'form-control', :placeholder => 'Link (optional)' %>
        </div>    
        <div class="form-group">
          <%= text_field_tag :address, :class => 'form-control', :placeholder => 'Address (if you want this item displayed on a map; optional)' %>
        </div>       
        <div class="form-group">
          <%= text_area_tag :content, :class => 'form-control', :placeholder => 'Content (optional)' %>
        </div>
        <button type="submit" class="btn btn-default">Add item</button>
        <a href="/groups/<%=@group.slug%>/lists/<%=@list.id%>/destroy" data-confirm="Are you sure you want to delete this list?" type="submit" class="btn btn-danger">Delete list</a>
      <% end %>
    </div>
    <div id="add-multiple" style="display: none">
      <p>Paste from spreadsheet, four columns: title, link, address, content</p>
      <% form_tag "/groups/#{@group.slug}/lists/#{@list.id}/add", :method => 'post' do %>
        <div class="form-group">
          <%= text_area_tag :data, :class => 'form-control' %>
        </div>    
        <button type="submit" class="btn btn-default">Add</button>
      <% end %>    
    </div> 

  </div>
</div>
