

<% if @group %>
  <ol class="breadcrumb">
    <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
    <li>
      <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
    </li>
    <li class="active">
      Analytics
    </li>
  </ol>

  <%= partial :'group_administration/header' %>
<% else %>
  <%= partial :'analytics/header' %>
<% end %>

<script>
  $(function () {
    $(".datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});
  });
</script>
<form style="display: inline">
  <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="from" value="<%=@from.strftime('%d-%b-%Y')%>"/>
  &ndash;
  <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="to" value="<%=@to.strftime('%d-%b-%Y')%>"/>
  <button class="btn btn-primary">Get data</button>
</form>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <% @collections.each { |collection| %>
        <th><%=collection.first.class.to_s.underscore.humanize.pluralize%></th>      
      <% } %>
    </tr>
  </thead>
  <% (@from..@to).to_a.each { |date| %>
    <tr>
      <td><%=date%></td>
      <% @collections.each { |collection| %>
        <td><%=collection.where(:created_at.lte => date).count%></td>
      <% } %>
    </tr>
  <% } %>
</table>