<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/analytics">Analytics</a></li>
  <li class="active">
    Page views
  </li>
</ol>

<%= partial :'analytics/header' %>

<script>
  $(function () {
    $(".datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});
  });
</script>
<form style="display: inline">
  <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="from" value="<%=@from.strftime('%d-%b-%Y')%>"/>
  &ndash;
  <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="to" value="<%=@to.strftime('%d-%b-%Y')%>"/>
  <button class="btn btn-primary">Get data</button>
</form>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Path</th>
      <th>Page views</th>
    </tr>
    <% max = nil; PageView.where(:created_at.gte => @from).where(:created_at.lt => @to+1).by_page[0..99].each_with_index { |(k, v), i| if i == 0; max = v.length.to_f; end; %>
    
      <tr>
        <td style="width: 300px">
          <a href="<%=k%>"><%=k%></a>
        </td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:<%="#{100*(v.length/max)}%"%>">
              <%=v.length%>
            </div>
          </div>        
        </td>
      </tr>
      
    <% } %>
</table>