
<%= partial :'analytics/header' %>

<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Sign ins</th>
    </tr>
    <% max = nil; SignIn.by_account[0..99].each_with_index { |(k, v), i| if i == 0; max = v.length.to_f; end; %>
    
      <tr>
        <td style="width: 170px;">
          <div class="media">
            <span class="pull-left" >      
              <a href="/accounts/<%=k.id%>">
                <img class="media-object" style="width: 32px" src="<%=k.picture ? k.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
              </a>
            </span>
            <div class="media-body">    
              <a href="/accounts/<%=k.id%>"><%=k.name%></a>
            </div>
          </div>           
        </td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:<%="#{100*(v.length/max)}%"%>">
              <%=v.length%>
            </div>
          </div>        
        </td>
      </tr>
      
    <% } %>
</table>