<%= partial :'analytics/header' %>

<script>
  $(function () {
    $(".datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});
  });
</script>
<form style="display: inline">
  <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="from" value="<%=@from.strftime('%d-%b-%Y')%>"/>
  &ndash;
  <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="to" value="<%=@to.strftime('%d-%b-%Y')%>"/>
  <button class="btn btn-primary">Get data</button>
</form>

<p class="lead" style="margin: 10px 0"><%=pluralize(PageView.where(:created_at.gte => @from).where(:created_at.lt => @to+1).map { |pv| pv.account_id }.uniq.count, 'unique visitor')%> across the entirety of this period</p>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Unique visitors</th>
    </tr>
  </thead>
  <% (@from..@to).to_a.each { |date| %>
    <tr>
      <td><%=date%></td>
      <td><%=PageView.where(:created_at.gte => date).where(:created_at.lt => date+1).pluck(:account_id).uniq.count%></td>
    </tr>
  <% } %>
</table>


