
<% form_for (@conversation ||= @group.conversations.build), "/groups/#{@group.slug}/conversations/new", :id => 'new-conversation', :class => 'form-horizontal placeholders-only', :multipart => true do |f| %>
  <%= f.text_block :subject, div_class: 'col-sm-12' %>
  <%= f.wysiwyg_block :body, div_class: 'col-sm-12', required: true %>
  <a class="btn btn-default" href="javascript:;" onclick="$(this).hide();
            $(this).next().show();
            $(this).next().find('input').click();"><%=I18n.t(:attach_a_file).capitalize%></a>
  <div style="display:none;">
    <%= f.file_block :file, div_class: 'col-sm-12' %>
  </div>
  <button type="submit" class="btn btn-primary"><%=I18n.t(:post).capitalize%></button>
<% end %>
