<h2><%=I18n.t(:group_conversations, slug: @group.slug)%></h2>

<% if @membership %>
  <div class="well well-sm">
    <i class="fa fa-envelope"></i>
    <%=I18n.t(:email_notifications).capitalize%>
    <form style="display:inline" method="get" action="/groups/<%=@group.slug%>/notification_level">
      <script>
        $(function () {
          $('#notification-level').change(function () {
            $('#dont-send-container, #still-send-container').hide()
            if ($(this).val() == 'each')
              $('#dont-send-container').show()
            if ($(this).val() == 'none')
              $('#still-send-container').show()
          })
          $('#dont-send-container select, #still-send-container select').chosen({create_option: true, persistent_create_option: true, skip_no_results: true, width: "168px"})
          $('#notification-level').change()
        })
      </script>
      <%= select_tag :level, :id => 'notification-level', :options => {I18n.t(:on).capitalize => 'each', I18n.t(:off).capitalize => 'none', I18n.t(:daily_digest).capitalize => 'daily', I18n.t(:weekly_digest).capitalize => 'weekly'}, :selected => @membership.notification_level, :class => "form-control", :style => "display:inline-block; width: auto; height: auto;" %>
      <span id="dont-send-container" style="display: none">
        <span>except for conversations tagged</span>
        <%= select_tag :dont_send, :multiple => true, :options => (@group.tags + (@membership.dont_send ? @membership.dont_send.split(' ') : [])).compact.uniq, :selected => (@membership.dont_send.split(' ') if @membership.dont_send), :'data-placeholder' => ' ' %>        
      </span>   
      <span id="still-send-container" style="display: none">
        <span>except for conversations tagged</span>
        <%= select_tag :still_send, :multiple => true, :options => (@group.tags + (@membership.still_send ? @membership.still_send.split(' ') : [])).compact.uniq, :selected => (@membership.still_send.split(' ') if @membership.still_send), :'data-placeholder' => ' ' %>
      </span>   
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">          
    <%= page_entries_info @conversations, :model => 'Conversation' %>
  </div>
  <div class="col-md-offset-2 col-md-4" style="text-align: right;">
    <% form_tag '',  :id => 'conversations-search-form', :style => "display: inline", :method => 'get' do %>      
      <div class="input-group" style="text-align: right">
        <%= search_field_tag :q, :class => 'form-control', :value => @q %>
        <span class="input-group-btn">
          <button class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>            
      </div>            
    <% end %> 
    <script>
      $(function () {
        $('#conversations-search-form').submit(function (e) {
          $('#main').load("/groups/<%=@group.slug%>/conversations?" + $(this).serialize());
          return false;
        });
      });
    </script>    
  </div>
</div>

<% if ENV['WALL_STYLE_CONVERSATIONS'] %>

  <% if @membership %>
    <%= partial :'conversations/wall_style_build'  %>
  <% end %>

  <% @conversations.each { |conversation| %>
    <%= partial :'conversations/wall_style_conversation', :locals => {:conversation => conversation} %>
  <% } %>
<% else %>
  <%= partial :'conversations/conversations_table', :locals => {:conversations => @conversations}  %>
<% end %>

<%= will_paginate @conversations, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>

<% if !ENV['WALL_STYLE_CONVERSATIONS'] %>
  <% if @membership %>
    <h4><%=I18n.t(:new_conversation).capitalize%></h4>
    <p><%=I18n.t(:fill_out_the_form_below_or_send_a_mail_to)%> <a href="mailto:<%=@group.email%>"><%=@group.email%></a></p>
    <%= partial :'conversations/build'  %>
  <% end %>
<% end %>

