
<div class="row">
  <div class="col-md-6">          
    <%= page_entries_info @conversations, :model => 'Conversation' %>
  </div>
  <div class="col-md-offset-2 col-md-4" style="text-align: right;">
    <% form_tag '',  :id => 'conversations-search-form', :style => "display: inline", :method => 'get' do %>      
      <div class="input-group" style="text-align: right">
        <%= search_field_tag :q, :class => 'form-control', :value => @q %>
        <span class="input-group-btn">
          <button class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>            
      </div>            
    <% end %> 
    <script>
      $(function () {
        $('#conversations-search-form').submit(function (e) {
          $('#conversations').load("/groups/<%=@group.slug%>/conversations?" + $(this).serialize());
          return false;
        });
      });
    </script>    
  </div>
</div>

<% if ENV['WALL_STYLE_CONVERSATIONS'] %>

  <% if @membership %>
    <%= partial :'conversations/wall_style_build'  %>
  <% end %>

  <% @conversations.each { |conversation| %>
    <%= partial :'conversations/wall_style_conversation', :locals => {:conversation => conversation} %>
  <% } %>
<% else %>
  <%= partial :'conversations/conversations_table', :locals => {:conversations => @conversations}  %>
<% end %>

<%= will_paginate @conversations, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>

<% if !ENV['WALL_STYLE_CONVERSATIONS'] %>
  <% if @membership %>
    <h4><%=I18n.t(:new_conversation).capitalize%></h4>
    <p><%=I18n.t(:fill_out_the_form_below_or_send_a_mail_to)%> <a href="mailto:<%=@group.email%>"><%=@group.email%></a></p>
    <%= partial :'conversations/build'  %>
  <% end %>
<% end %>

