<h2><%=@group.slug%>'<%="s" unless @group.slug[-1] == 's' %> conversations</h2>

<div class="row">
  <div class="col-md-6">          
    <%= page_entries_info @conversations, :model => 'Conversation' %>
  </div>
  <div class="col-md-offset-2 col-md-4" style="text-align: right;">
    <% form_tag '',  :id => 'conversations-search-form', :style => "display: inline", :method => 'get' do %>      
      <div class="input-group" style="text-align: right">
        <%= search_field_tag :q, :class => 'form-control', :value => @q %>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>            
      </div>            
    <% end %> 
    <script>
      $(function() {
        $('#conversations-search-form').submit(function(e) {
          $('#conversations-tab').load("/groups/<%=@group.slug%>/conversations?" + $(this).serialize());
          return false;
        });
      });
    </script>    
  </div>
</div>

<%= partial :'conversations/conversations_table', :locals => {:conversations => @conversations}  %>

<script>
  $(function() {
    $('#conversations-tab .pagination a').click(function(e) {
      e.preventDefault();
      if ($(this).attr('href') != '#')
        $('#conversations-tab').load($(this).attr('href'));
    });
  });
</script>
<%= will_paginate @conversations, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>

<% if @membership %>
  <h4>New conversation</h4>
  <p>Fill out the form below or send an email to <a href="mailto:<%=@group.email%>"><%=@group.email%></a></p>
  <%= partial :'conversations/build'  %>
<% end %>
