
<style>
  .conversation-title { font-size: 18px; line-height: 100% }
</style>
<table class="table" style="margin-top: 10px">
  <% conversations.each { |conversation| %>
    <tr>
      <td><a class="conversation-title" href="/conversations/<%=conversation.slug%>"><%=conversation.subject%></a></td>
      <% if !@group %>
        <td><span style="color: #999999;"><i class="fa fa-group"></i> <%=conversation.group.slug%></span></td>
      <% end %>
      <td><span style="opacity: <%=(o = (0.3 + 0.7*((c = conversation.visible_conversation_posts.count).to_f/3))) > 1 ? 1 : o%>"class="badge"><%=c%></span></td>
      <td>
        <% if conversation.last_conversation_post %>
          <%=I18n.t(:last_post).capitalize%> <%=timeago(conversation.last_conversation_post.created_at)%>        
          by <a href="/accounts/<%=conversation.last_conversation_post.account.id%>"><%=conversation.last_conversation_post.account.name%></a>
        <% end %>
      </td>
    </tr>
  <% } %>      
</table>