
<div class="media">
  <span class="pull-left">
    <img class="media-object" style="width: 32px" src="<%=conversation_post.account.picture ? conversation_post.account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
  </span>
  <div class="media-body">
    <div>
      <% if @membership and @membership.admin? and defined? i and i > 0 %>
        <a style="float: right" title="Hide post" data-confirm="Are you sure you want to hide this post?" class="edit restore-opacity" href="/conversations/<%=conversation_post.conversation.slug%>/hide_post/<%=conversation_post.id%>"><i class="fa fa-times"></i> Hide post</a>
      <% end %>
      <a href="/accounts/<%=conversation_post.account.id%>" style="font-weight: bold;"><%=conversation_post.account.name%></a>            
      <ul class="fa-ul">
        <% conversation_post.attachments.each { |attachment| %>
          <li><i class="fa fa-li fa-paperclip"></i><a href="<%=attachment.file.url%>"><%=attachment.file_name%></a></li>
        <% } %>
      </ul>

      <div id="conversation-post-<%=conversation_post.id%>"><%= Rinku.auto_link(conversation_post.body_with_inline_images) %></div>
    </div>
    <div title="<%=conversation_post.created_at%>" style="font-size: 12px; opacity: 0.5"><%=time_ago_in_words(conversation_post.created_at)%> ago</div>
  </div>
</div> 
