

<% if !Config['WALL_STYLE_CONVERSATIONS'] %>
  <a class="edit" href="/conversations/<%=conversation_post.conversation.slug%>#conversation-post-<%=conversation_post.id%>" title="<%=conversation_post.created_at%>"><%=timeago(conversation_post.created_at)%></a>
  &middot;
<% end %>

<% if !Config['BCC_SINGLE'] %>  
  <a class="edit modal-trigger" href="/conversation_posts/<%=conversation_post.id%>/read_receipts"><%=pluralize(conversation_post.conversation_post_read_receipts.count,'person')%> read this</a>
  &middot;  
<% end %>

<span class="conversation-post-like">
  <%= partial :'conversations/like', :locals => {:conversation_post => conversation_post} %>
</span>

<% if @membership and @membership.admin? %>
  &middot;

  <% if Config['BCC_SINGLE'] and conversation_post.conversation_post_bcc.message_id.nil? %>
    <i class="fa fa-warning"></i> BCC has no message_id.
  <% end %>
  <a href="/conversation_posts/<%=conversation_post.id%>/resend">Resend</a>

<% end %>



