<h2>Conversations</h2>

<div class="row">
  <div class="col-md-6">          
    <%= page_entries_info @conversations, :model => 'Conversation' %>
  </div>
  <div class="col-md-offset-2 col-md-4" style="text-align: right;">
    <% form_tag '',  :style => "display: inline", :method => 'get' do %>      
      <div class="input-group" style="text-align: right">
        <%= search_field_tag :q, :class => 'form-control', :value => @q %>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>            
      </div>            
    <% end %> 
  </div>
</div>

<%= partial :'conversations/conversations_table', :locals => {:conversations => @conversations.order_by(:updated_at.desc)}  %>

<%= will_paginate @conversations, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>


<h3>New conversation</h3>

<p>Fill out the form below or send an email to <a href="mailto:<%=@group.imap_address%>"><%=@group.imap_address%></a></p>
<div class="media">
  <span class="pull-left">
    <img class="media-object" style="width: 32px" src="<%=current_account.picture ? current_account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
  </span>
  <div class="media-body">
    <% form_tag "/groups/#{@group.slug}/new_conversation", :multipart => true do |f| %>
      <%= text_field_tag :subject, :class => 'form-control', :placeholder => 'Subject', :style => 'margin-bottom: 10px; width: 15em;' %>
      <%= text_area_tag :body, :class => 'wysiwyg form-control', :id => 'post', :style => 'width: 90%; display: block; margin-bottom: 10px', :rows => 10 %>
      <a class="btn btn-default" href="javascript:;" onclick="$(this).hide();$('#attach').show();$('#attach input').click();">Attach a file</a>
      <div style="display:none; margin-bottom: 10px" id="attach">
        <%= file_field_tag :attachment %>
      </div>            
      <button type="submit" class="btn btn-default">Post</button>
    <% end %> 
  </div>
</div>