<table class="table" style="margin-top: 10px">
  <% conversations.each { |conversation| %>
    <tr>
      <td><a style="font-size: 24px; line-height: 100%" href="<% if @hot_conversations%>#conversation-<%=conversation.id%><% else%>/conversations/<%=conversation.slug%><% end %>"><%=conversation.subject%></a></td>
      <% if !@group %>
        <td><span style="color: #999999;"><i class="fa fa-group"></i> <%=conversation.group.slug%></span></td>
      <% end %>
      <td><span style="opacity: <%=(o = (0.3 + 0.7*((c = conversation.conversation_posts.where(:hidden.ne => true).count).to_f/3))) > 1 ? 1 : o%>"class="badge"><%=c%></span></td>
      <td>
        <% if conversation.last_conversation_post %>
          Last post <%= time_ago_in_words(conversation.last_conversation_post.created_at) %> ago
          by <a href="/accounts/<%=conversation.last_conversation_post.account.id%>"><%=conversation.last_conversation_post.account.name%></a>
        <% end %>
      </td>
    </tr>
  <% } %>      
</table>