
<div class="media">
  <span class="pull-left">
    <img class="media-object" style="width: 32px" src="<%=conversation_post.account.picture ? conversation_post.account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
  </span>
  <div class="media-body">
    <div>
      <% if @membership and @membership.admin? and defined? i and i > 0 %>
        <a style="float: right" title="Hide post" data-confirm="Are you sure you want to hide this post?" class="edit restore-opacity" href="/conversations/<%=conversation_post.conversation.slug%>/hide_post/<%=conversation_post.id%>"><i class="fa fa-times"></i> Hide post</a>
      <% end %>
      <a href="/accounts/<%=conversation_post.account.id%>" style="font-weight: bold;"><%=conversation_post.account.name%></a>            
      <ul class="fa-ul">
        <% conversation_post.attachments.each { |attachment| %>
          <li><i class="fa fa-li fa-paperclip"></i><a href="<%=attachment.file.url%>"><%=attachment.file_name%></a></li>
        <% } %>
      </ul>

      <div id="conversation-post-<%=conversation_post.id%>"><%= Rinku.auto_link(conversation_post.body_with_inline_images) %></div>
    </div>
    <div title="<%=conversation_post.created_at%>" style="font-size: 12px; opacity: 0.5"><%=time_ago_in_words(conversation_post.created_at)%> ago</div>

    <div style="margin-top: 5px">
      <% if current_account %>
        <% if plus_one = conversation_post.plus_ones.find_by(account: current_account) %>
          <i title="+1s" class="fa fa-plus"></i>
        <% else %>
          <a class="edit" title="+1" href="/conversation_posts/<%=conversation_post.id%>/plus_one"><i class="fa fa-plus"></i></a>
        <% end %>
      <% else %>
        <i class="fa fa-plus"></i>
      <% end %>
      <%=conversation_post.plus_ones.map { |plus_one|
        %Q{<a style="margin-right: 5px" href="/accounts/#{plus_one.account_id}"><img title="#{plus_one.account.name} +1'd this on #{plus_one.created_at}" style="width: 32px" src="#{plus_one.account.picture ? plus_one.account.picture.thumb('32x32#').url : '/images/silhouette.png'}"></a>}
        }.join(' ') %>    
      <% if plus_one %>
        <a href="/conversation_posts/<%=conversation_post.id%>/remove_plus_one" class="edit" title="Remove your +1"><i class="fa fa-times"></i></a>
        <% end %>
    </div>
  </div>
</div> 


