<% if @membership %>
  <ul class="page-options">  
    <% if @conversation.conversation_mutes.find_by(account: current_account) %>
      <li>
        <a title="Unmute conversation" class="edit restore-opacity" href="/conversations/<%=@conversation.slug%>/unmute"><i class="fa fa-volume-up"></i> Unmute conversation</a>
      </li> 
    <% else %>
      <li>
        <a title="Mute conversation" class="edit restore-opacity" href="/conversations/<%=@conversation.slug%>/mute"><i class="fa fa-volume-off"></i> Mute conversation</a>
      </li>         
    <% end %>
    <% if @membership.admin? %>    
      <li>
        <a title="Hide conversation" data-confirm="Are you sure you want to hide this conversation?" class="edit restore-opacity" href="/conversations/<%=@conversation.slug%>/hide"><i class="fa fa-times"></i> Hide conversation</a>
      </li> 
    <% end %>
  </ul>
<% end %>

<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li><a href="/groups/<%=@conversation.group.slug%>"><%=@conversation.group.slug%></a></li>
  <li class="active"><%=@conversation.subject%></li>
</ol>

<div class="row">

  <div class="col-md-8">

    <h2><%=@conversation.subject%></h2>

    <% @conversation.conversation_posts.where(:hidden.ne => true).order_by(:created_at.asc).each_with_index { |conversation_post, i|  %>
      <%= partial :'conversations/conversation_post', :locals => {:conversation_post => conversation_post, :i => i} %>
    <% } %>

    <% if @membership %>
      <%= partial :'conversations/build' %> 
    <% end %>



  </div>
  <div class="col-md-4">
    <% if current_account %>
      <h2><%=pluralize(@conversation.participants.count,'participant')%> in this conversation</h2>
      <%= partial :'accounts/list', :locals => {:scope => 'conversation', :scope_id => @conversation.id} %>
    <% else %>
      <%= partial 'groups/join', :locals => {:group => @conversation.group} %>
    <% end %>    
  </div>
</div>


