<% if @membership %>
  <ul class="page-options">  
    <% if @conversation.conversation_mutes.find_by(account: current_account) %>
      <li>
        <a title="Unmute conversation" class="edit restore-opacity" href="/conversations/<%=@conversation.slug%>/unmute"><i class="fa fa-volume-up"></i> Unmute conversation</a>
      </li> 
    <% else %>
      <li>
        <a title="Mute conversation" class="edit restore-opacity" href="/conversations/<%=@conversation.slug%>/mute"><i class="fa fa-volume-off"></i> Mute conversation</a>
      </li>         
    <% end %>
    <% if @membership.admin? %>    
      <li>
        <a title="Hide conversation" data-confirm="Are you sure you want to hide this conversation?" class="edit restore-opacity" href="/conversations/<%=@conversation.slug%>/hide"><i class="fa fa-times"></i> Hide conversation</a>
      </li> 
    <% end %>
  </ul>
<% end %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li><a href="/groups/<%=@conversation.group.slug%>"><%=@conversation.group.name%></a></li>
  <li><a href="/groups/<%=@conversation.group.slug%>/conversations">Conversations</a></li>
  <li class="active"><%=@conversation.subject%></li>
</ol>

<div class="row">

  <div class="col-md-8">

    <h1 style="margin-top: 0"><%=@conversation.subject%></h1>

    <% @conversation.visible_conversation_posts.order_by(:created_at.asc).each_with_index { |conversation_post, i|  %>
      <%= partial :'conversations/conversation_post', :locals => {:conversation_post => conversation_post, :i => i} %>
    <% } %>

    <% if @membership %>

      <div class="media">
        <span class="pull-left">
          <img class="media-object" style="width: 32px" src="<%=current_account.picture ? current_account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
        </span>
        <div class="media-body">

          <% form_for (@conversation_post ||= @conversation.conversation_posts.build), "/conversations/#{@conversation.slug}", :class => 'form-horizontal placeholders-only', :multipart => true do |f| %>
            <%= f.wysiwyg_block :body, div_class: 'col-md-12' %>
            <a class="btn btn-default" href="javascript:;" onclick="$(this).hide();
                $(this).next().show();
                $(this).next().find('input').click();"><%=I18n.t(:attach_a_file).capitalize%></a>
            <div style="display:none;">
              <%= f.file_block :file, div_class: 'col-md-12' %>
            </div>
            <button type="submit" class="btn btn-default"><%=I18n.t(:post).capitalize%></button>
          <% end %>          

        </div>
      </div> 

    <% end %>


  </div>
  <div class="col-md-4">
    <% if current_account %>
      <h2 style="margin-top: 0"><%=pluralize(@conversation.participants.count,'participant')%> in this conversation</h2>
      <%= partial :'accounts/list', :locals => {:scope => 'conversation', :scope_id => @conversation.id} %>
    <% else %>
      <%= partial 'groups/join', :locals => {:group => @conversation.group} %>
    <% end %>    
  </div>
</div>


