<div style="margin-top: 20px; position: relative">
  <div id="map" style="margin-bottom: 10px">
  </div>

  <style>    
    @media(min-width: 768px) {
      #map-overlay { background: white; box-shadow: 0 0 3px #666666; position: absolute; padding: 10px; top: 20px; right: 20px }
    }
  </style>

  <div id="map-overlay">

    <div id="search-options">

      <script>
        $(function() {
          $('#map-form input').change(function() {
            if ($('input[name=spaces]').prop('checked'))
              $('#min-capacity').show()
            else
              $('#min-capacity').hide()
            $(this.form).submit();
          });
          $('#map-form').submit(function(e) {
            var form = this;
            e.preventDefault();
            $('.fa-spinner', this).show();
            $('#map').load('<%= @group ? "/groups/#{@group.slug}/map" : "/map" %>?' + $(this).serialize(), function() {
              $('.fa-spinner', form).hide();
            });
            return false;
          });
          $('#map-form').submit();
        });</script>
      <style>
        #map-form i.fa-map-marker { float: right }
      </style>
      <form id="map-form">
        <%= hidden_field_tag :map_only, :value => true  %>
        <div class="checkbox">
          <label>
            <%= check_box_tag :accounts, :value => true, :checked => true %>
            People <i class="fa fa-map-marker" style="color: <%= "##{Account.marker_color}" %>"></i>
          </label>
        </div>   
        <div class="checkbox">
          <label>
            <%= check_box_tag :spaces, :value => true, :checked => true %>
            Spaces <i class="fa fa-map-marker" style="color: <%= "##{Space.marker_color}" %>"></i>
          </label>
        </div>  
        <div id="min-capacity" class="form-group"> 
          <label>Spaces with capacity of at least</label>
          <%= number_field_tag 'min_capacity', :class => 'form-control', :min => '0', :step => '1'%>
        </div>        
        <div class="checkbox">
          <label>
            <%= check_box_tag :organisations, :value => true %>
            Organisations <i class="fa fa-map-marker" style="color: <%= "##{Organisation.marker_color}" %>"></i>
          </label>
        </div>     
        <button type="submit" class="btn btn-default">Search</button>
        <i class="fa fa-spin fa-spinner" style="display: none"></i>
      </form>

    </div>

    <% if @membership %>

      <a style="display:inline-block;margin-top: 10px" id="add-space" class="btn btn-primary" href="javascript:;"><i class="fa fa-plus"></i> Add a space</a>

      <div id="adding-space" style="display:none">

        <script>
          $(function() {
            $('#add-space').click(function() {
              $(this).hide();
              $('#search-options').hide();
              $('#adding-space').show();
              var marker = new google.maps.Marker({
                map: map
              });
              google.maps.event.addListener(map, 'click', function(event) {
                marker.setPosition(event.latLng)
                $('input[name=lat]').val(event.latLng.lat());
                $('input[name=lng]').val(event.latLng.lng());
              });
            });
          });
        </script>

        <% form_tag "/groups/#{@group.slug}/map/spaces/new" do %>
          <%= hidden_field_tag 'lat' %>
          <%= hidden_field_tag 'lng' %>
          <p style="font-weight: bold">Now click the map to place a marker</p>
          <div class="form-group"> 
            <label>Space name</label>
            <%= text_field_tag 'name', :class => 'form-control', :required => true %>
          </div>
          <div class="form-group"> 
            <label>Capacity</label>
            <%= number_field_tag 'capacity', :class => 'form-control', :min => '0', :step => '1' %>
          </div>            
          <div class="form-group"> 
            <label>Brief description</label>
            <%= text_area_tag 'description', :class => 'form-control' %>
          </div>      
          <div class="form-group"> 
            <label>Link to website</label>
            <%= text_field_tag 'link', :class => 'form-control' %>
          </div>           
          <button type="submit" class="btn btn-primary">Add space</button>
        <% end %>

      </div>
    <% end %>

  </div>

</div>