<h3><%=space.name%></h3>
<p style="font-weight: bold"><a href="<%=space.link%>"><%=space.link%></a></p>
<p><%=space.description%></p>

<p class="small">
  Added by <a href="/accounts/<%=space.account.id%>"><%=space.account.name%></a> on <%=space.created_at%>
  &middot;
  <a href="/groups/<%=space.group.slug%>/map/spaces/<%=space.id%>/destroy">Delete space</a>
</p>

