<div class="row" style="margin-top: 20px;">

  <div class="<%= ENV['HIDE_MAP_FORM'] ? 'col-md-12' : 'col-md-9' %>">
    <div id="map">
    </div>
  </div>
  <div class="<%= 'col-md-3' if !ENV['HIDE_MAP_FORM'] %>" <%= 'style="display:none"' if ENV['HIDE_MAP_FORM'] %>>

    <div id="search-options">

      <script>
        $(function() {
          $('#map-form input, #map-form select').change(function() {
            if ($('input[name=venues]').prop('checked'))
              $('#venue-filters').show()
            else
              $('#venue-filters').hide()
            $(this.form).submit();
          });
          $('#map-form').submit(function(e) {
            var form = this;
            e.preventDefault();
            $('.fa-spinner', this).show();
            $('#map').load('<%= @group ? "/groups/#{@group.slug}/map" : "/map" %>?' + $(this).serialize(), function() {
              $('.fa-spinner', form).hide();
              $('button[type=submit]', form).attr('disabled', false).html('<%= I18n.t(:search).capitalize%>');
            });
            return false;
          });
          $('#map-form input').change();
        });</script>
      <style>
        #map-form i.fa-map-marker { float: right }
      </style>
      <form id="map-form">
        <%= hidden_field_tag :map_only, :value => true  %>
        <div class="checkbox">
          <label>
            <%= check_box_tag :accounts, :value => true, :checked => ENV['SHOW_PEOPLE_BY_DEFAULT'] ? true : false %>
            <%= I18n.t(:people).capitalize%>  <i class="fa fa-map-marker" style="color: <%= "##{Account.marker_color}" %>"></i>
          </label>
        </div>   
        <div class="checkbox">
          <label>
            <%= check_box_tag :venues, :value => true, :checked => ENV['SHOW_VENUES_BY_DEFAULT'] ? true : false  %>
            <%= I18n.t(:venues).capitalize%> <i class="fa fa-map-marker" style="color: <%= "##{Venue.marker_color}" %>"></i>
          </label>
        </div>  
        <div id="venue-filters" style="padding: 10px; background: #F8F8F8" >

          <div class="form-group"> 
            <label><%= I18n.t(:capacity_of_at_least).capitalize%></label>
            <%= number_field_tag :min_capacity, :class => 'form-control', :min => 0, :step => 1 %>
          </div>    

          <div class="form-group"> 
            <label>
              <%= check_box_tag :accessible, :value => 1 %>
              <%= I18n.t(:accessible).capitalize%>
            </label>
          </div> 
          
          <div class="form-group"> 
            <label>
              <%= check_box_tag :private, :value => 1 %>
              <%= I18n.t(:private_room_available).capitalize%>
            </label>
          </div>           

          <div class="form-group"> 
            <label>
              <%= check_box_tag :serves_food, :value => 1 %>
              <%= I18n.t(:serves_food).capitalize%>
            </label>
          </div>    

          <div class="form-group"> 
            <label>
              <%= check_box_tag :serves_alcohol, :value => 1 %>
              <%= I18n.t(:serves_alcohol).capitalize%>
            </label>
          </div>      

          <div class="form-group"> 
            <label><%= I18n.t(:maximum_hourly_cost).capitalize%></label>
            <div class="input-group">
              <span class="input-group-addon">£</span>
              <%= number_field_tag :max_hourly_cost, :class => 'form-control', :min => 0, :step => 1 %>
            </div>
          </div>            

        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag :organisations, :value => true, :checked => ENV['SHOW_ORGS_BY_DEFAULT'] ? true : false  %>
            <%= I18n.t(:organisations).capitalize%> <i class="fa fa-map-marker" style="color: <%= "##{Organisation.marker_color}" %>"></i>
          </label>
        </div>     
        <button type="submit" class="btn btn-default"><%= I18n.t(:search).capitalize%></button>
        <i class="fa fa-spin fa-spinner" style="display: none"></i>
      </form>

    </div>

    <a style="display:inline-block;margin-top: 10px" class="btn btn-primary" href="<%= @group ? "/groups/#{@group.slug}/venues/new" : "/venues/new" %>"><i class="fa fa-plus"></i> <%= I18n.t(:add_a_venue).capitalize%></a>

  </div>

</div>

