
<% form_tag '/organisations/results', :method => 'get', :id => 'results-form' do %>

  <%= hidden_field_tag :organisation_id, :id => 'organisation_id' %>

  <script>
    $(function () {
      $('#organisation_id').lookup({
        lookup_url: '/organisations/results',
        placeholder: '<%=I18n.t(:filter_by_name).capitalize%>',
        rtype: 'organisation'
      }).on('change', function () {
        $('#results-form').submit();
      });
    });
  </script>



  <%= hidden_field_tag :sector_id, :id => 'sector_id', :value => params[:sector_id] %>

  <script>
    $(function () {
      $('#sector_id').lookup({
        lookup_url: '/organisations/results',
        placeholder: '<%=I18n.t(:filter_by_sector).capitalize%>',
        rtype: 'sector',
      }).on('change', function () {
        $('#results-form').submit();
      });
    });
  </script>  

  <div>
    <label class="radio-inline" style="padding-left: 0">Sort by</label>
    <% {'Last updated' => :date, 'Name' => :name}.each { |k,v| %>
      <label class="radio-inline">
        <%= radio_button_tag 'o', :value => v, :checked => (@o == v) %> <%=k%>
      </label>        
    <% } %>      
    <label class="radio-inline">
      <i id="filter-spin" style="display:none" class="fa fa-spin fa-spinner"></i>
    </label>                      
  </div>

<% end %>  

<div id="results" class="page-container" style="margin-top: 10px"></div>
