
<p><%= page_entries_info @organisations, :model => I18n.t(:organisation).capitalize %></p>

<ul class="list-unstyled clearfix">
  <% @organisations.each { |organisation| %>
    <li style="display: block; margin-bottom: 10px; padding: 5px">

      <div class="media">
        <a class="pull-left">
          <img style="max-width: 64px" src="<%=organisation.picture ? organisation.picture.thumb('64x64#').url : '/images/square.png' %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="/organisations/<%=organisation.id%>"><%=organisation.name%></a></h4>        
          <ul class="fa-ul">
          <% if !organisation.sectorships.empty?%>
            <li><i title="Sectors" class="fa-li fa fa-tags"></i><%organisation.sectorships.each { |sectorship|%><a href="/sectors/<%=sectorship.sector_id%>"><span class="label label-default" style="text-indent: 0"><%=sectorship.sector.name%></span></a> <% } %></li>
          <% end %>            
          </ul>          
        </div>
      </div>        

    </li>
  <% } %>
</ul>

<script>
  $(function() {
    $('#results .pagination a').click(function(e) {
      e.preventDefault();
      $('#results').load($(this).attr('href'), function() {
        scroll(0,0);
      });
    });  
  });
</script>
<%= will_paginate @organisations, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>