<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/organisations"><%=I18n.t(:organisations).capitalize%></a></li>
  <li>
    <a href="/organisations/<%=@organisation.id%>"><%=@organisation.name%></a>
  </li>
  <li class="active">
    Edit
  </li>
</ol>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% form_for @organisation, @organisation.new_record? ? "/organisations/new" : "/organisations/#{@organisation.id}/edit", :class => 'form-horizontal', :multipart => true do |f| %>

      <%= f.text_block :name %>
      <%= f.text_block :address %>
      <%= f.text_block :website %>
      <%= partial :'organisations/sectorships', :locals => {:f => f} %>
      <%= f.image_block :picture, rotate: false %>
      <%= f.submit_block destroy_url: ("/organisations/#{@organisation.id}/destroy" if @organisation.affiliations.empty?) %>

    <% end %>

  </div>
</div>