<ul class="page-options">
  <li>  
    <a title="Edit organisation" class="edit restore-opacity" href="/organisations/<%=@organisation.id%>/edit"><i class="fa fa-pencil"></i> Edit <%=I18n.t(:organisation)%></a>
  </li>   
</ul>

<ol class="breadcrumb">
  <li><a href="/organisations"><%=I18n.t(:organisations).capitalize%></a></li>
  <li class="active">
    <%=@organisation.name%>
  </li>
</ol>

<div class="row">
  <div class="col-md-8">

    <div class="row" style="margin-top: 20px">
      <div class="col-md-3">
        <img style="width: 100%" src="<%=@organisation.picture.try(:url) || '/images/square.png' %>" />
      </div>
      <div class="col-md-9">
        <h1 style="margin-top: 0"><%=@organisation.name%></h1>          

        <div class="table-hr-container">
          <table class="table table-hr" >

            <% if @organisation.website%>
              <tr>
                <td>Website</td>
                <td><a target="new" href="<%=@organisation.website%>"><%=@organisation.website%></a></td>
              </tr>
            <% end %>                  

            <% if @organisation.address%>
              <tr>
                <td>
                  Address
                </td>
                <td>
                  <a target="new" href="http://www.google.co.uk/maps?q=<%=URI.escape(@organisation.address)%>"><%=@organisation.address%></a>
                </td>          
              </tr>
            <% end %>           

            <% if !@organisation.sectorships.empty?%>
              <tr>
                <td>Sectors</td>
                <td>
                  <%@organisation.sectorships.each { |sectorship|%><a href="/sectors/<%=sectorship.sector_id%>"><span class="label label-primary" style="text-indent: 0"><%=sectorship.sector.name%></span></a> <% } %>
                </td>
              </tr>
            <% end %>             

          </table>
        </div>

        <% if @organisation.coordinates or @organisation.affiliations.any? { |affiliation| affiliation.account.coordinates } %>
          <%= partial :'maps/panel', :locals => {:points => ([@organisation] + @organisation.affiliations.map(&:account))} %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <h2><%=pluralize(@organisation.affiliations.count,'person')%> from this <%=I18n.t(:organisation)%></h2>
    <%= partial :'accounts/list', :locals => {:scope => 'organisation', :scope_id => @organisation.id} %>
  </div>
</div>