<ul class="page-options">
  <li>  
    <a title="Edit organisation" class="edit restore-opacity" href="/organisations/<%=@organisation.id%>/edit"><i class="fa fa-pencil"></i> Edit organisation</a>
  </li>   
</ul>

<ol class="breadcrumb">
  <li><a href="/organisations">Organisations</a></li>
  <li class="active">
    <%=@organisation.name%>
  </li>
</ol>

<div class="row">
  <div class="col-md-8">

    <div class="media" style="margin-top: 10px">
      <a class="pull-left">
        <img style="max-width: 300px" src="<%=@organisation.picture.try(:url) || '/images/square.png' %>" />
      </a>
      <div class="media-body">
        <h2 class="media-heading"><%=@organisation.name%></h2>      
        <ul class="fa-ul">
          <% if @organisation.website%>
            <li><i title="Website" class="fa fa-li fa-globe"></i><a target="new" href="http://<%=@organisation.website%>"><%=@organisation.website%></a></li>
          <% else %>
            <li><i style="opacity: 0.25" class="fa fa-li fa-globe"></i></li> &nbsp;
          <% end %>                  
          <% if @organisation.address%>
            <li><i title="Address" class="fa fa-li fa-location-arrow"></i><a target="new" href="http://www.google.co.uk/maps?q=<%=URI.escape(@organisation.address)%>"><%=@organisation.address%></a></li>
          <% else %>
            <li><i style="opacity: 0.25" class="fa fa-li fa-location-arrow"></i></li> &nbsp;
          <% end %>           
          <% if !@organisation.sectorships.empty?%>
            <li><i title="Sectors" class="fa fa-li fa-tags"></i><%@organisation.sectorships.each { |sectorship|%><a href="/sectors/<%=sectorship.sector_id%>"><span class="label label-default" style="text-indent: 0"><%=sectorship.sector.name%></span></a> <% } %></li>
          <% else %>
            <li><i style="opacity: 0.25" class="fa fa-li fa-tags"></i></li> &nbsp;
          <% end %>             
        </ul>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <h2><%=pluralize(@organisation.affiliations.count,'person')%> from this organisation</h2>
    <%= partial :'accounts/list', :locals => {:scope => 'organisation', :scope_id => @organisation.id} %>
  </div>
</div>
