<ul class="fa-ul">
  <% if space.address %>
    <li><i title="Address<%= ' (approx)' if space.approx %>" class="fa-li fa fa-map-marker"></i><a href="http://www.google.co.uk/maps?q=<%= URI.encode(space.address) %>" target="map"><%= space.address %></a><%= ' (approx)' if space.approx %></li>
  <% end %>  
  <% if space.capacity %>
    <li><i title="Capacity <%=space.capacity%>" class="fa-li fa fa-building"></i> Capacity <%=space.capacity%></li>
  <% end %>
  <% if space.accessibility %>
    <li><i title="<%=space.accessibility%>" class="fa-li fa fa-wheelchair"></i> <%=space.accessibility%></li>    
  <% end %>
  <% if space.private %>
    <li><i title="<%=space.private%>" class="fa-li fa fa-volume-down"></i> Private room available</li>    
  <% end %>    
  <% if space.serves_food %>
    <li><i title="Serves food" class="fa-li fa fa-cutlery"></i> Serves food</li>
  <% end %>    
  <% if space.serves_alcohol %>
    <li><i title="Serves alcohol" class="fa-li fa fa-beer"></i> Serves alcohol</li>
  <% end %>        
  <% if space.hourly_cost %>
    <li><i title="Approximate hourly cost" class="fa-li fa fa-gbp"></i>£<%=space.hourly_cost%>/hour</li>
  <% end %>     
  <% if space.link %>
    <li><i title="Website" class="fa-li fa fa-info"></i>
      <a href="<%=space.link%>"><%=space.link%></a>
    </li>
  <% end %>      
</ul>

<p style="white-space: normal"><%=space.description%></p>