<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/map">Map</a>    
  </li>  
  <% if @marker.persisted? %>
    <li>
      <%= @marker.name %>
    </li>      
    <li class="active">
      Edit
    </li>
  <% else %>
    <li class="active">
      Add marker
    </li>    
  <% end %>
</ol>

<div class="row" style="margin-top: 10px">
  <div class="col-md-6 col-md-offset-3">

    <% form_for @marker, @marker.new_record? ? "/groups/#{@group.slug}/map/add" : "/groups/#{@group.slug}/map/#{@marker.id}/edit", :class => 'form-horizontal', :multipart => true do |f| %>

      <%= f.text_block :name %>
      <%= f.text_block :address %>
      <%= f.submit_block destroy_url: "/groups/#{@group.slug}/map/#{@marker.id}/destroy" %>
    
    <% end %>

  </div>
</div>
