<h2> 
  <% if @tagged_post %>
    Wall post by <%=@tagged_post.account.name%>
  <% else %>     
    Wall for <%= @group ? "#{@group.slug}" : "your #{I18n.t(:account_tagships)}" %> 
  <% end %>
</h2> 

<div style="background: #F5F5F5; padding: 10px;">

  <% if current_account %>
    <%= partial :'tagged_posts/compose' %>
  <% end %>

  <% @tagged_posts.each { |tagged_post| %>
    <%= partial :'tagged_posts/tagged_post', :object => tagged_post %>
  <% } %>

  <script>
    $(function() {
      $('#tagged_posts-tab .pagination a').click(function(e) {
        e.preventDefault();
        if ($(this).attr('href') != '#')
          $('#tagged_posts-tab').load($(this).attr('href'), function() {
            scroll(0, 0);
          });
      });
    });
  </script>  
  <%= will_paginate @tagged_posts, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>  

</div>


