<ol class="breadcrumb">
  <li><a href="/sectors"><%=I18n.t(:sectors).capitalize%></a></li>
  <li class="active">
    <%=@sector.name%>
  </li> 
</ol>

<div class="row">
  <div class="col-md-8">

    <h1><%=@sector.name%> <small><%=pluralize(@sector.sectorships.count,'organisation')%></small></h1>

    <% @sector.sectorships.sort_by { |sectorship| sectorship.organisation.name }.each { |sectorship| organisation = sectorship.organisation %>
      <%= partial :'organisations/organisation', :object => organisation %>
    <% } %>

  </div>
  <div class="col-md-4">
    <h2><%=pluralize(@sector.members.count,'person')%> from this <%=I18n.t(:sector)%></h2>
    <%= partial :'accounts/list', :locals => {:scope => 'sector', :scope_id => @sector.id} %>
  </div>
</div>
