
<h2>
  Stats for <%=@group.slug%>

  <small>  
    <script>
      $(function () {
        $("#stats-tab .datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});
        $('#from-to').submit(function (e) {
          e.preventDefault();
          $('.fa-spinner', this).show();
          $('#stats-tab').load('<%="/groups/#{@group.slug}/stats" %>?' + $(this).serialize());
          return false;
        });
      });
    </script>
    <form style="display: inline" id="from-to">
      <input type="text" onchange="$(this).closest('form').submit()" style="width: 8em; display: inline-block" class="form-control datepicker" name="from" value="<%=@from.strftime('%d-%b-%Y')%>"/>
      &ndash;
      <input type="text" onchange="$(this).closest('form').submit()" style="width: 8em; display: inline-block" class="form-control datepicker" name="to" value="<%=@to.strftime('%d-%b-%Y')%>"/>
      <i style="display:none" class="fa fa-spin fa-spinner"></i>
    </form>
  </small>

</h2>

<table class="table">

  <%{'Most posts' => @cp, 'Most conversations started' => @c, 'Most events created' => @e}.each { |h,hash| %>

    <tr>
      <td colspan="2">
        <h3 style="margin-top: 0"><%=h%></h3>
      </td>
    </tr>

    <% max = nil; include = Hash[hash.sort_by { |k,v| v.length }.reverse[0..9]]; include[current_account.id] = hash[current_account.id] if hash[current_account.id]; include.sort_by { |k,v| v.length }.reverse.each_with_index { |(k, v), i| if i == 0; max = v.length.to_f; end; k = Account.find(k) %>

      <% if i == 10 %>
        <tr>
          <td colspan="2">
            &vellip;
          </td>
        </tr>    
      <% end %>

      <tr>
        <td style="width: 170px; <% if k == current_account %> background: #FFF2B8 <% end %>">
          <div class="media">
            <span class="pull-left" >      
              <a href="/accounts/<%=k.id%>">
                <img class="media-object" style="width: 32px" src="<%=k.picture ? k.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
              </a>
            </span>
            <div class="media-body">    
              <a href="/accounts/<%=k.id%>"><%=k.name%></a>
            </div>
          </div>           
        </td>
        <td <% if k == current_account %> style="background: #FFF2B8" <% end %>  >
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:<%="#{100*(v.length/max)}%"%>">
              <%=v.length%>
            </div>
          </div>        
        </td>
      </tr>
    <% } %>

  <% } %>

</table>
