<ol class="breadcrumb" style="margin-bottom: 20px">
  <li><a href="/groups">Groups</a></li>
  <li class="active"><%=@group_type ? @group_type.name : 'All'%> groups</li>
</ol>

<a style="float: right" title="Create a group" class="btn btn-primary" href="/groups/new"><i class="fa fa-plus"></i> Create a group</a>

<% if @group_type %>
  <p style="font-size: 20px; line-height: 110%"><%=@group_type.description%></p>
<% end %>

<% @groups.where(:privacy.ne => 'secret').order_by(:slug.asc).each { |group| %>
  <h2>
    <% if group.closed? and !(membership = group.memberships.find_by(account: current_account)) %><%=group.slug%><% else %><a href="/groups/<%=group.slug%>"><%=group.slug%></a><% end%>
    <small>
      <%=pluralize(group.memberships.count, 'member')%>
    </small>
    <% if !membership %>  
      <%= partial :'groups/request_membership', :locals => {:group => group} %>
    <% end %>
  </h2>
  <p><%= group.description %></p>
<% } %>
