<ul class="page-options">        
  <li>
    <a title="Create a group" class="edit restore-opacity" href="/groups/new"><i class="fa fa-plus"></i> Create a group</a>
  </li>        
</ul>

<ol class="breadcrumb">
  <li><a href="/">Groups</a></li>
  <li class="active"><%=@group_type.name%> groups</li>
</ol>


<% @group_type.groups.where(:privacy.ne => 'secret').each { |group| %>
  <h2>
    <% if group.closed? and !(membership = group.memberships.find_by(account: current_account)) %><%=group.slug%><% else %><a href="/groups/<%=group.slug%>"><%=group.slug%></a><% end%>
    <small>
      <%=pluralize(group.memberships.count, 'member')%>
    </small>
    <% if !membership %>  
      <%= partial :'groups/request_membership', :locals => {:group => group} %>
    <% end %>
  </h2>
<% } %>
