<ul class="page-options">  
  <% if @membership %>
    <li>    
      <i class="fa fa-envelope"></i>
      Notifications
      <form style="display:inline" method="get" action="/groups/<%=@group.slug%>/notification_level">
        <%= select_tag :level, :options => {'On' => 'each', 'Off' => 'none', 'Daily digest' => 'daily', 'Weekly digest' => 'weekly'}, :selected => @membership.notification_level, :onchange => "this.form.submit()", :class => "form-control", :style => "display:inline-block; width: auto; height: auto; font-size: 12px; padding: 3px; position: relative; top: -1px" %>
      </form>   
    </li> 
    <li>
      <a title="Leave group" data-confirm="Are you sure you want to leave this group?" class="edit restore-opacity" href="/groups/<%=@group.slug%>/leave"><i class="fa fa-sign-out"></i> Leave group</a>
    </li>    
    <% if @membership.admin? %>             
      <li>
        <a title="Manage members" class="edit restore-opacity" href="/groups/<%=@group.slug%>/members"><i class="fa fa-group"></i> Manage members</a>
      </li>  
      <li>
        <a title="Description" class="edit restore-opacity" href="/groups/<%=@group.slug%>/edit"><i class="fa fa-pencil"></i> Description</a>
      </li>      
      <li>
        <a title="Did you know..." class="edit restore-opacity" href="/groups/<%=@group.slug%>/didyouknows"><i class="fa fa-question"></i> Did you know&hellip;</a>
      </li>    
      <li>
        <a title="News summaries" class="edit restore-opacity" href="/groups/<%=@group.slug%>/news_summaries"><i class="fa fa-twitter"></i> News summaries</a>
      </li>      
      <li>
        <a title="Post review" class="edit restore-opacity" href="/groups/<%=@group.slug%>/review"><i class="fa fa-star"></i> Post review</a>
      </li>       
      <li>
        <a title="Analytics" class="edit restore-opacity" href="/groups/<%=@group.slug%>/analytics"><i class="fa fa-dashboard"></i> Analytics</a>
      </li>        
    <% end %>     
  <% elsif @group.open? %>
    <li>
      <a title="Join group" class="edit restore-opacity" href="/groups/<%=@group.slug%>/join"><i class="fa fa-sign-in"></i> Join group</a>
    </li>
  <% elsif @group.closed? %>
    <li>
      <% if @group.membership_requests.find_by(account: current_account) %>  
        <a class="edit restore-opacity">
          <i class="fa fa-check"></i>
          Membership requested
        </a>
      <% else %>
        <form style="display:inline" method="post" id="request-membership" action="/groups/<%=@group.slug%>/request_membership">          
          <a class="edit restore-opacity" href="javascript:;" onclick="$('#request-membership').submit();">
            <i class="fa fa-bell"></i>
            Request membership
          </a>
        </form>
      <% end %>      
    </li>
  <% end %>
</ul>

<ol class="breadcrumb">
  <% if !@membership or (@membership and current_account.memberships.count > 1) %>  
    <li><a href="/">Groups</a></li>
    <li class="active"><%=@group.slug%></li>
  <% else %>  
    <li></li>
  <% end %>
</ol>



<div class="row">

  <div class="col-md-1">

    <div class="tabbable tabs-left tabs-left-please" style="margin-top: 20px">
      <style>
        .nav-tabs li a { color: #aaa }
        #map-tab { padding-top: 20px }
        #map-tab iframe { height: 70vh }
      </style>
      <ul class="nav nav-tabs">
        <% if @membership and current_account.memberships.count == 1 and Fragment.find_by(slug: 'home') %>        
          <li><a href="#home-tab" title="Home" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <% end %>          
        <li><a title="Conversations" href="#conversations-tab" data-toggle="tab"><i class="fa fa-comments-o"></i></a></li>
        <% if @group.news_summaries.count > 0 %>
          <li><a title="News" href="#news-tab" data-toggle="tab"><i class="fa fa-twitter"></i></a></li>
        <% end %>
        <li><a href="#digest-tab" title="Digest" data-toggle="tab"><i class="fa fa-star"></i></a></li>
        <li><a href="#map-tab" title="Map" data-toggle="tab"><i class="fa fa-map-marker"></i></a></li>
        <li><a href="#lists-tab" title="Lists" data-toggle="tab"><i class="fa fa-list"></i></a></li>
        <li class="calendar-li"><a href="#calendar-tab" data-toggle="tab"><i class="fa fa-calendar"></i></a></li>
      </ul>
    </div>
    <script>
      $(function() {
<% if (c = @group.events.where(:start_time.gt => Time.now).count) > 0 %>
          $("a[href='#calendar-tab']").tooltip({
            title: '<%=pluralize(c,'upcoming event')%>',
            placement: 'bottom',
            trigger: 'manual'
          }).tooltip('show');
<% end %>
        $("a[href='#digest-tab']").on('shown.bs.tab', function(e) {
          $('#digest-tab').load('/groups/<%=@group.slug%>/digest')
        });
        $("a[href='#map-tab']").on('shown.bs.tab', function(e) {
          $('#map-tab').load('/groups/<%=@group.slug%>/map')
        });
        $("a[href='#lists-tab']").on('shown.bs.tab', function(e) {
          $('#lists-tab').load('/groups/<%=@group.slug%>/lists')
        });
        $("a[href='#calendar-tab']").on('shown.bs.tab', function(e) {
          $("a[href='#calendar-tab']").tooltip('hide');
          $('#calendar').fullCalendar('render');
        });
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
          $('.fc-event').popover('destroy');
        });
        $(".tabs-left a:first").tab('show');
      });
    </script>

  </div>
  <div class="col-md-7">        

    <div class="tab-content">
      <% if @membership and current_account.memberships.count == 1 and Fragment.find_by(slug: 'home') %>        
        <div class="tab-pane" id="home-tab">
          <%= Fragment.find_by(slug: 'home').body %>
        </div>      
      <% end %>      
      <div class="tab-pane" id="conversations-tab">
        <%= partial :'conversations/conversations' %>
      </div>      
      <% if @group.news_summaries.count > 0 %>
        <div class="tab-pane" id="news-tab">
          <%= partial :'news/summaries', :locals => {:news_summaries => @group.news_summaries, :date => NewsSummary.date} %>
        </div>      
      <% end %>  
      <div class="tab-pane" id="digest-tab">
        <h2><i class="fa fa-spin fa-spinner"></i></h2>
      </div>
      <div class="tab-pane" id="map-tab">
        <h2><i class="fa fa-spin fa-spinner"></i></h2>
      </div>     
      <div class="tab-pane" id="lists-tab">
        <h2><i class="fa fa-spin fa-spinner"></i></h2>
      </div>           
      <div class="tab-pane" id="calendar-tab">
        <style>#calendar { margin-top: 20px }</style>
        <%= partial :'events/calendar', :locals => {:calendar_path => "/groups/#{@group.slug}/calendar", :mini => true} %>
      </div>  
    </div>

  </div>
  <div class="col-md-4">
    <h2><%=pluralize(@group.memberships.count,'member')%> in this group</h2>
    <%= partial :'accounts/list', :locals => {:scope => 'group', :scope_id => @group.id} %>
  </div>
</div>
