<ul class="page-options">  
  <% if @membership %>
    <li>
      <a title="<%=I18n.t(:leave_group).capitalize%>" data-confirm="<%=I18n.t(:leave_group_confirm)%>" class="edit restore-opacity" href="/groups/<%=@group.slug%>/leave"><i class="fa fa-sign-out"></i> <%=I18n.t(:leave_group).capitalize%></a>
    </li>   
  <% elsif current_account %>
    <li>
      <a title="<%=I18n.t(:join_group).capitalize%>" class="edit restore-opacity" href="/groups/<%=@group.slug%>/join"><i class="fa fa-sign-in"></i> <%=I18n.t(:join_group).capitalize%></a>
    </li>
  <% end %>
</ul>

<ol class="breadcrumb">
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li class="active"><%=@group.slug%></li>
</ol>

<% if @membership and @membership.admin? %>
  <%= partial :'group_administration/header' %>
<% end %>  

<% if @membership or @group.public? %>
  <script>
    $(function () {
      $('#conversations').load('/groups/<%=@group.slug%>/conversations' + location.search)
    })
  </script>
  <div class="row">
    <div class="col-md-8">   

      <div class="row">
        <div class="col-md-2">
          <img style="width: 100%" src="<%=@group.picture ? @group.picture.thumb('500x500#').url : '/images/blank.png'%>">
        </div>
        <div class="col-md-10">
            <style>
              @media(min-width: 768px) {
                #group-title { display: inline; margin-top: 0; margin-right: 10px }
                #notification-level-form {  display:inline }
                #notification-level { position: relative; top: -11px; display:inline-block; width: auto; height: auto; }
              }
            </style>          
          
          <h1 id="group-title"><%=@group.slug%></h1>

          <% if @membership %>
            <form id="notification-level-form" method="get" action="/groups/<%=@group.slug%>/notification_level">
              <%= select_tag :level, :id => 'notification-level', :options => {'Emails on' => 'each', 'Emails off' => 'none', 'Daily digest' => 'daily', 'Weekly digest' => 'weekly'}, :selected => @membership.notification_level, :class => "form-control input-sm", :onchange => "this.form.submit()" %>  
            </form>
          <% end %>

          <p class="lead" style="margin: 10px 0"><%=@group.description%></p>
        </div>
      </div>

      <% if @group.landing_tab %>
        <%= @group.landing_tab %>
      <% end %>

      <div id="conversations" class="page-container" style="margin-top: 20px; margin-bottom: 20px"> 
        <h2><i class="fa fa-spin fa-spinner"></i></h2>
      </div>

    </div>
    <div class="col-md-4">
      <% if current_account %>
        <h2 style="margin-top: 0">
          <%=I18n.t(:members, count: @group.members.count)%>
          <small><a class="edit" title="Full page" href="/groups/<%=@group.slug%>/members"><i class="fa fa-th-list"></i></a></small>
        </h2>
        <%= partial :'accounts/list', :locals => {:scope => 'group', :scope_id => @group.id} %>
      <% else %>
        <%= partial 'groups/join', :locals => {:group => @group} %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= partial 'groups/join', :locals => {:group => @group} %>
<% end %>
