<ul class="page-options">  
  <% if @membership %>
    <li>    
      <i class="fa fa-envelope"></i>
      Email notifications
      <form style="display:inline" method="get" action="/groups/<%=@group.slug%>/notification_level">
        <%= select_tag :level, :options => {'On' => 'each', 'Off' => 'none', 'Daily digest' => 'daily', 'Weekly digest' => 'weekly'}, :selected => @membership.notification_level, :onchange => "this.form.submit()", :class => "form-control", :style => "display:inline-block; width: auto; height: auto; font-size: 12px; padding: 3px; position: relative; top: -1px" %>
      </form>   
    </li> 
    <li>
      <a title="Leave group" data-confirm="Are you sure you want to leave this group?" class="edit restore-opacity" href="/groups/<%=@group.slug%>/leave"><i class="fa fa-sign-out"></i> Leave group</a>
    </li>    
    <% if @membership.admin? %>             
      <li>
        <a title="Manage members" class="edit restore-opacity" href="/groups/<%=@group.slug%>/members"><i class="fa fa-group"></i> Manage members</a>
      </li>  
      <li>
        <a title="Description" class="edit restore-opacity" href="/groups/<%=@group.slug%>/edit"><i class="fa fa-pencil"></i> Description</a>
      </li>      
      <li>
        <a title="Did you know..." class="edit restore-opacity" href="/groups/<%=@group.slug%>/didyouknows"><i class="fa fa-question"></i> Did you know&hellip;</a>
      </li>    
      <li>
        <a title="News summaries" class="edit restore-opacity" href="/groups/<%=@group.slug%>/news_summaries"><i class="fa fa-twitter"></i> News summaries</a>
      </li>      
      <li>
        <a title="Post review" class="edit restore-opacity" href="/groups/<%=@group.slug%>/review"><i class="fa fa-star"></i> Post review</a>
      </li>       
      <li>
        <a title="Stats" class="edit restore-opacity" href="/groups/<%=@group.slug%>/stats"><i class="fa fa-signal"></i> Stats</a>
      </li>           
      <li>
        <a title="Analytics" class="edit restore-opacity" href="/groups/<%=@group.slug%>/analytics"><i class="fa fa-dashboard"></i> Analytics</a>
      </li>        
    <% end %>     
  <% elsif @group.open? and current_account %>
    <li>
      <a title="Join group" class="edit restore-opacity" href="/groups/<%=@group.slug%>/join"><i class="fa fa-sign-in"></i> Join group</a>
    </li>
  <% elsif @group.closed? %>
    <li>
      <% if @group.membership_requests.find_by(account: current_account) %>  
        <a class="edit restore-opacity">
          <i class="fa fa-check"></i>
          Membership requested
        </a>
      <% else %>
        <form style="display:inline" method="post" id="request-membership" action="/groups/<%=@group.slug%>/request_membership">          
          <a class="edit restore-opacity" href="javascript:;" onclick="$('#request-membership').submit();">
            <i class="fa fa-bell"></i>
            Request membership
          </a>
        </form>
      <% end %>      
    </li>
  <% end %>
</ul>

<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li class="active"><%=@group.slug%></li>
</ol>

<%
possible_tabs = {
  :home => (['Home', 'fa-home'] if @membership and current_account.memberships.count == 1 and Fragment.find_by(slug: 'home')),
  :conversations => ['Conversations', 'fa-comments-o'],
  :news => (['News', 'fa-twitter'] if @group.news_summaries.count > 0),
  :digest => ['Digest', 'fa-star'],
  :map => ['Map', 'fa-map-marker'],
  :wall => ['Wall', 'fa-thumbs-up'],  
  :docs => ['Docs', 'fa-file-text-o'],
  :calendar => ['Calendar', 'fa-calendar']
  }
if ENV['GROUP_TAB_ORDER']
  tabs = {}
  ENV['GROUP_TAB_ORDER'].split(',').map(&:strip).map(&:to_sym).each { |tab|
    tabs[tab] = possible_tabs[tab]
  }
  else
  tabs = possible_tabs
  end
%>

<div class="row">
  <div class="col-md-1">
    <div class="tabbable tabs-left tabs-left-please" style="margin-top: 20px">
      <ul class="nav nav-tabs">
        <% tabs.each { |k,v| if v %>
            <li>
              <a style="padding: 5px" title="<%=v[0]%>" href="#<%=k%>-tab" data-toggle="tab">                
                <i class="fa <%=v[1]%> hidden-xs hidden-sm"></i>
                <span style="font-size: 11px"><%=v[0].length > 6 ? v[0][0..5]+'&hellip;' : v[0] %></span>                
              </a>
              <script>
                $(function() {
                  $("a[href='#<%=k%>-tab']").on('shown.bs.tab', function(e) {
                    $('#<%=k%>-tab').load('/groups/<%=@group.slug%>/<%=k%>')
                    window.location.hash = this.hash;
                    window.scrollTo(0, 0);
                  });
                });
              </script>
            </li>
          <% end } %>
      </ul>
    </div>
  </div>
  <div class="col-md-7">        
    <div class="tab-content">
      <% tabs.each { |k,v| %>
        <div class="tab-pane" id="<%=k%>-tab">
          <h2><i class="fa fa-spin fa-spinner"></i></h2>        
        </div>      
      <% } %>
    </div>
  </div>
  <div class="col-md-4">
    <% if current_account %>
      <h2><%=pluralize(@group.memberships.count,'member')%> in this group</h2>
      <%= partial :'accounts/list', :locals => {:scope => 'group', :scope_id => @group.id} %>
    <% else %>
      <%= partial 'groups/join', :locals => {:group => @group} %>
    <% end %>
  </div>
</div>

<script>

  /* Calendar tooltip */

  $(function() {
<% if (c = @group.events.where(:start_time.gt => Time.now).count) > 0 %>
      $("a[href='#calendar-tab']").attr('title', '<%=pluralize(c,'upcoming event')%>').tooltip({
        placement: 'bottom',
        trigger: 'manual'
      }).tooltip('show');
<% end %>
    $("a[href='#calendar-tab']").on('shown.bs.tab', function(e) {
      $("a[href='#calendar-tab']").tooltip('hide');
    });

    /* Navigate to tab via hash */

    var hash = window.location.hash;
    if (hash) {
      $('a[href="' + hash + '"]').tab('show');
      window.scrollTo(0, 0);
    } else {
      $(".tabs-left-please a:first").tab('show');
    }

  });
</script>
