<ol class="breadcrumb">
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li><a href="/groups/<%=@group.slug%>"><%=@group.slug%></a></li>
  <li class="active">Members</li>
</ol>

<h1><%=I18n.t(:members_in_this_group, count: @group.members.count)%></h1>

<%= partial :'accounts/list', :locals => {:scope => 'group', :scope_id => @group.id, :per_page => 18, :full_width => true} %>