
<ol class="breadcrumb">
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li><a href="/groups/<%=@group.slug%>"><%=@group.slug%></a></li>
  <li class="active">Request membership</li>
</ol>

<% if @group.request_intro %>
  <%= @group.request_intro %>
<% end %>

<div class="row">       

  <div class="col-md-8 col-md-offset-2" style="margin-top: 20px">

    <% form_for @account, "/groups/#{@group.slug}/request_membership", :id => 'request-form', :class => 'form-horizontal' do |f| %>

        <% if !@group.request_intro %>          
          <div class="form-group">
            <div class="col-md-offset-3 col-md-6"> 
              You must be a member to access <strong><%=@group.slug%></strong>.
            </div>
          </div>          
        <% end %>

        <% if !current_account %>
          <%= f.text_block :name %>
          <%= f.text_block :email %>
          <% if ENV['REQUEST_LOCATION'] %>
            <%= f.text_block :town %>
            <%= f.text_block :postcode %>
            <%= f.select_block :country %>  
          <% end %>
        <% end %>

        <% @group.request_questions_a.each { |q| %>
          <div class="form-group">
            <label class="control-label col-md-3"><%=q%></label>
            <div class="col-md-6">  
              <%= text_area_tag "answers[]", :class => 'form-control' %>
            </div>
          </div>  
        <% } %>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-6">
            <button class="btn btn-primary"><i class="fa fa-bell"></i> Request membership</button>
          </div>
        </div>            

      <% end %>
    </div>

  </div>

