
<h1><%=@group.slug%> in review
  <small>
    <% if @from.strftime("%b %Y") == @to.strftime("%b %Y") %>
      <%=@from.day.ordinalize%> &mdash; <%=(d = @to).strftime("#{d.day.ordinalize} %b %Y")%>
    <% else %>
      <%=(d = @from).strftime("#{d.day.ordinalize} %b %Y")%> &mdash; <%=(d = @to).strftime("#{d.day.ordinalize} %b %Y")%>
    <% end  %>
  </small>
</h1>

<div class="row">

  <% if @top_stories.length > 0 %>
    <div class="col-md-<%=@md%>">
      <h2>Top stories</h2>
      <div class="news-summary">
        <ol class="top-stories stories-list">
          <% @top_stories.each_with_index { |e,i| %>
            <li class="stories-list-item" id="story-<%=i%>">
              <%=e[:story].to_s %>
              <script>
                $(function() {
                  $('#story-<%=i%>').find('h5').append(' <small><em><%=e[:news_summary].title%> on <%=e[:daily_digest].date.strftime("%a #{d.day.ordinalize} %b") %></em></small>')
                });
              </script>
            </li>
          <% } %>
        </ol>
      </div>
    </div>
  <% end %>

  <% if @accounts.length > 0 %>
    <div class="col-md-<%=@md%>">
      <h2>New people</h2>
      <ul class="list-unstyled clearfix" style="margin-top: 26px">    
        <% @accounts.each { |account| %>
          <li style="display: block; margin-bottom: 10px; border: 1px solid #ddd; border-radius: 5px; padding: 5px">      
            <%= partial :'accounts/account', :locals => {:account => account} %>
          </li>
        <% } %>    
      </ul>
    </div>
  <% end %>

  <% if @conversations.length > 0 %>
    <div class="col-md-<%=@md%>">
      <h2>Hot conversations</h2>
      <%= partial :'conversations/conversations_table', :locals => {:conversations => @conversations} %>
    </div>
  <% end %>

  <% if @events.length > 0 %>
    <div class="col-md-<%=@md%>">
      <style>.read-more { display: none }</style>
      <h2>New events</h2>
      <% @events.each { |event| %>
        <h3><a href="/groups/<%=@group.slug%>/calendar/<%=event.id%>"><%=event.name%></a></h3>
        <%= partial :'events/summary', :locals => {:event => event, :read_more => true} %>
      <% } %>
    </div>  
  <% end %>

</div>