<% if !params[:email] %>
  <% if @group %>
    <ol class="breadcrumb">
      <li><a href="/">Groups</a></li>
      <li>
        <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
      </li>
      <li class="active">
        Week in review
      </li>
    </ol>
  <% else %>
    <ol class="breadcrumb">
      <li><a href="/"><%=current_account.name%></a></li>
      <li class="active">
        Week in review
      </li>
    </ol>
  <% end %>
<% end %>

<style>h2 a.btn { float: right }</style>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1><%= @group ? "#{@group.slug}'s" : 'Your' %> week in review
      <small>
        <% if @from.strftime("%b %Y") == @to.strftime("%b %Y") %>
          <%=@from.day.ordinalize%> &mdash; <%=(d = @to).strftime("#{d.day.ordinalize} %b %Y")%>
        <% else %>
          <%=(d = @from).strftime("#{d.day.ordinalize} %b %Y")%> &mdash; <%=(d = @to).strftime("#{d.day.ordinalize} %b %Y")%>
        <% end  %>
      </small>
    </h1>    

    <% if @events.length > 0 %>
      <style>.read-more { display: none }</style>
      <h2>New events <a class="btn btn-default btn-sm" href="<%= @group ? "/groups/#{@group.slug}/calendar/add" : "/calendar/add"%>"><i class="fa fa-plus"></i> Add an event</a></h2>
      <% @events.each { |event| %>
        <h3><a href="/groups/<%=event.group.slug%>/calendar/<%=event.id%>"><%=event.name%></a> <% if !@group%><small><i class="fa fa-group"></i> <%=event.group.slug%></small><% end%></h3>
        <%= partial :'events/summary', :locals => {:event => event, :read_more => true} %>
      <% } %>
    <% end %>

    <% if @conversations.length > 0 %>
      <h2>Hot conversations <% if @group %><a class="btn btn-default btn-sm" href="/groups/<%=@group.slug%>"><i class="fa fa-comments"></i> Browse all conversations</a><% end%></h2>
      <%= partial :'conversations/conversations_table', :locals => {:conversations => @conversations} %>
    <% end %>     

    <% if @accounts.length > 0 %>
      <h2>New people <a class="btn btn-default btn-sm" href="<%= @group ? "/groups/#{@group.slug}" : "/"%>"><i class="fa fa-group"></i> View all members</a></h2>
      <ul class="list-unstyled clearfix" style="margin-top: 26px">    
        <% @accounts.each { |account| %>
          <li style="display: block; margin-bottom: 10px; border: 1px solid #ddd; border-radius: 5px; padding: 5px">      
            <%= partial :'accounts/account', :locals => {:account => account} %>
          </li>
        <% } %>    
      </ul>
    <% end %>  

    <% if @top_stories.length > 0 %>
      <h2>Top stories</h2>
      <div class="news-summary">
        <ol class="top-stories stories-list">
          <% @top_stories.each_with_index { |e,i| %>
            <li class="stories-list-item" id="story-<%=i%>">
              <%               
              a = []
              a << "<small>"
              a << "#{e[:news_summary].title} on #{e[:daily_digest].date.strftime("%a #{d.day.ordinalize} %b")}"
              a << %Q{<small><i class="fa fa-group"></i> #{e[:news_summary].group.slug}</small>} if !@group
              a << %Q{</small>}
              h5 = e[:story].at_css('h5')
              h5.inner_html = h5.inner_html + a.join(' ')
            %>
              <%= e[:story] %>
            </li>
          <% } %>
        </ol>
      </div>
    <% end %>        

  </div>
</div>