<div class="panel panel-default" style="display: none" id="add-member">
  <div class="panel-heading">
    <h3 class="panel-title">Add a member</h3>
  </div>
  <div class="panel-body">
    <script>$(function () {
        $('.status-tip').tooltip();
      });</script>

    <% form_tag "/groups/#{@group.slug}/invite", :method => 'post' do %>

      <style>
        #add-single h3 { font-size: 16px }
      </style>
      <div id="add-single">
        <p><a href="javascript:;" onclick="$('#add-single input').val('');
              $('#add-single').hide();
              $('#add-multiple').show();">Add multiple</a></p>        

        <% if (invitables = Account.where(:id.in => (current_account.network.pluck(:id) - @group.memberships.pluck(:account_id)))).count > 0 %>
          <h3><%=I18n.t(:someone_already_in_your_groups).capitalize%></h3>
          <div class="form-group">
            <%= select_tag :account_id, :class => 'form-control', :options => [''] + invitables.sort_by { |account| account.name.downcase }.map { |account| ["#{account.name} (#{account.email})", account.id] } %>
          </div>
          <h3>Someone new</h3>
        <% end %>

        <div class="form-group">
          <label class="sr-only">Name</label>
          <%= text_field_tag :name, :class => 'form-control', :placeholder => 'Name' %>
        </div>
        <div class="form-group">
          <label class="sr-only">Email</label>    
          <%= text_field_tag :email, :class => 'form-control', :placeholder => 'Email' %>
        </div>
      </div>

      <div id="add-multiple" style="display:none">  
        <p>Paste from spreadsheet, two columns: name, email</p>        
        <div class="form-group">
          <%= text_area_tag :data, :class => 'form-control' %>
        </div>
      </div>

      <div class="checkbox">
        <label>
          <%= check_box_tag :status, :value => 'confirmed' %>
          Start receiving emails immediately (even if never signed in)
          <i class="status-tip fa fa-question-circle" title="By default, people will only start receiving email notifications once they sign in for the first time.
             Check this box if you want them to start receiving emails immediately."></i>             
        </label>
      </div>        
      <div class="checkbox">
        <label>
          <%= check_box_tag :admin, :value => 1 %>
          Admin
        </label>
      </div>    
      <button type="submit" class="btn btn-primary">Add</button>
    <% end %>  
  </div>
</div>