<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li class="active">
    Did you know&hellip;
  </li>
</ol>

<div class="row">
  <div class="col-md-8">

    <style>#news-summaries td { padding: 0.5em }</style>
    <table style="margin-top: 20px" id="news-summaries">
      <% @group.didyouknows.each { |didyouknow| %>
        <tr>
          <td>
            <%=h didyouknow.body%>
          </td>
          <td>
            <a class="edit" href="/groups/<%=@group.slug%>/didyouknows/<%=didyouknow.id%>/destroy"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      <% } %>
    </table>

  </div>
  <div class="col-md-4">

    <h2>Did you know&hellip;</h2>
    <% form_tag "/groups/#{@group.slug}/didyouknows/add", :method => 'post' do %>
      <div class="form-group">
        <%= text_area_tag :body, :class => 'form-control' %>
      </div>    
      <button type="submit" class="btn btn-default">Add</button>
    <% end %> 
    <p style="margin-top: 10px">
      The following patterns are recognised and replaced:
    </p>
    <dl>
      <dt>[conversation_url]</dt>
      <dd>URL of the conversation</dd>
      <dt>[members]</dt>
      <dd>Number of members of the group <em>e.g. <%=pluralize(@group.memberships.count,'member')%></em></dd>
      <dt>[upcoming_events]</dt>
      <dd>Number of upcoming events <em>e.g. <%=pluralize(@group.events.where(:start_time.gt => Time.now).count,'upcoming event')%></em></dd>  
      <dt>[most_recently_updated_url]</dt>
      <dd>URL of the member with the most recently updated profile</dd>  
      <dt>[most_recently_updated_name]</dt>
      <dd>Name of the member with the most recently updated profile</dd>  
    </dl>      


  </div>
</div>