<ol class="breadcrumb">
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li>
    <a href="/groups/<%=@group.slug%>/"><%= @group.slug%></a>    
  </li>      
  <li class="active">
    Landing tab
  </li>
</ol>

<%= partial :'group_administration/header' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2" id="group-form">

    <% form_for @group, "/groups/#{@group.slug}/landing_tab", :class => 'form-horizontal', :multipart => true do |f| %>
      <%= f.wysiwyg_block :landing_tab %>
      <%= f.submit_block %>
    <% end %> 

  </div>
</div>

