<ol class="breadcrumb">
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li class="active">
    News summaries
  </li>
</ol>

<%= partial :'group_administration/header' %>

<div class="row">
  <div class="col-md-8">

    <style>#news-summaries td { padding: 0.5em }</style>
    <table style="margin-top: 20px" id="news-summaries">
      <% @group.news_summaries.order_by(:order.asc).each_with_index { |news_summary,i| %>
        <tr>
          <td>
            <%=news_summary.title%> <a href="http://www.news.me/<%=news_summary.newsme_username%>"><%=news_summary.newsme_username%></a>
          </td>
          <td>
            <a data-confirm="Are you sure you want to remove this news summary?" class="edit" href="/groups/<%=@group.slug%>/news_summaries/<%=news_summary.id%>/destroy"><i class="fa fa-times"></i></a>
          </td>
          <td>
            <% if i > 0 %>
              <a class="edit" href="/groups/<%=@group.slug%>/news_summaries/<%=news_summary.id%>/move_up"><i title="Move up" class="fa fa-arrow-up"></i></a>
            <% end %>
          </td>          
        </tr>
      <% } %>
    </table>

  </div>
  <div class="col-md-4">

    <h2>Add a news summary</h2>
    <% form_tag "/groups/#{@group.slug}/news_summaries/add", :method => 'post' do %>
      <div class="form-group">
        <label class="sr-only">Title</label>
        <%= text_field_tag :title, :class => 'form-control', :placeholder => 'Title' %>
      </div>
      <div class="form-group">
        <label class="sr-only">News.me username</label>    
        <%= text_field_tag :newsme_username, :class => 'form-control', :placeholder => 'News.me username' %>
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    <% end %> 


  </div>
</div>