<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li class="active">
    Post review
  </li>
</ol>

<%= partial :'group_administration/header' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <script>
      $(function() {
        $("form .datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});

        $('#grab-button').click(function(e) {
          e.preventDefault();
          $.post('/groups/<%=@group.slug%>/digest', $(this.form).serialize(), function(data) {
            $('textarea[name=customised_html]').val(data);
            open_preview();
          });
          return false;
        });

        $('#preview-button').click(function(e) {
          e.preventDefault();
          open_preview();
          return false;
        });

        function open_preview() {
          var w = window.open('', '', 'width=800,height=600,scrollbars=yes');
          $(w.document.body).html($('textarea[name=customised_html]').val());
        }
      });
    </script>
    <form method="post" style="display: inline">
      <input type="hidden" name="for_email" value="true" />

      <h2>1. Pick your dates</h2>
      <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="from" value="<%=1.week.ago.to_date.strftime('%d-%b-%Y')%>"/>
      &ndash;
      <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="to" value="<%=Date.today.strftime('%d-%b-%Y')%>"/>

      <h2>2. Set a title</h2>
      <input type="text" class="form-control" name="h2" value="<%=@group.slug%>'s week in review" />

      <h2>3. Add a message</h2>
      <textarea name="message" style="margin-bottom: 10px" class="wysiwyg form-control" rows="6"></textarea>
      <button id="grab-button" class="btn btn-default">Grab HTML</button>   

      <h2>4. Customise HTML</h2>
      <textarea name="customised_html" style="margin-bottom: 10px" class="form-control" rows="10"></textarea>
      <button id="preview-button" class="btn btn-default">Preview</button> (opens in new window)

      <h2>5. Send</h2>
      <button type="submit" class="btn btn-default">Send</button>

    </form>

  </div>
</div>