<ol class="breadcrumb">
  <% if current_account.memberships.count > 1 %>
    <li><a href="/">Groups</a></li>
  <% end %>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li class="active">
    Post review
  </li>
</ol>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <script>
      $(function() {
        $('#message-textarea').wysihtml5();
        $("#setup .datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});
        $('#preview-button').click(function(e) {
          e.preventDefault();
          $('#message-iframe').attr('src', '/groups/<%=@group.slug%>/digest?' + $(this.form).serialize())
          return false;
        });
      });
    </script>
    <form method="post" style="display: inline" id="setup">
      <input type="hidden" name="email" value="true" />
      <input type="hidden" name="review" value="true" />

      <h2>1. Pick your dates</h2>
      <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="from" value="<%=1.week.ago.to_date.strftime('%d-%b-%Y')%>"/>
      &ndash;
      <input type="text" style="width: 8em; display: inline-block" class="form-control datepicker" name="to" value="<%=Date.today.strftime('%d-%b-%Y')%>"/>

      <h2>2. Set a title</h2>
      <input type="text" class="form-control" name="heading" value="<%=@group.slug%>'s week in review" />

      <h2>3. Add a message</h2>
      <textarea name="message" style="margin-bottom: 10px" class="form-control" rows="6" id="message-textarea"></textarea>
    
      <h2>4. <button id="preview-button" class="btn btn-default"><h2 style="padding:0; margin:0">Preview</h2></button></h2>      
      <iframe id="message-iframe" style="width: 100%; height: 500px; border: 1px solid #ccc" src="/groups/<%=@group.slug%>/digest?email=true&review=true"></iframe>

      <h2>5. <button type="submit" class="btn btn-default"><h2 style="padding:0; margin:0">Send</h2></button></h2>      
      
    </form>

  </div>
</div>