<ol class="breadcrumb">
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li class="active">
    Post review
  </li>
</ol>

<%= partial :'group_administration/header' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <script>
      $(function () {
        $("form .datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});

        $('#grab-button').click(function (e) {
          e.preventDefault();
          $('textarea[name=message]').val($('textarea[name=message]').next().code());
          $.post('/groups/<%=@group.slug%>/digest', $(this.form).serialize(), function (data) {
            $('textarea[name=customised_html]').val(data);
            open_preview();
          });
          return false;
        });

        $('#preview-button').click(function (e) {
          e.preventDefault();
          open_preview();
          return false;
        });

        function open_preview() {
          var w = window.open('', '', 'width=800,height=600,scrollbars=yes');
          $(w.document.body).html($('textarea[name=customised_html]').val());
        }
      });
    </script>

    <% form_tag '' do %>
      <%= hidden_field_tag :for_email, :value => true %>

      <h2>1. Pick your dates</h2>
      <%= text_field_tag :from, :class => "form-control datepicker", :style => "width: 8em; display: inline-block", :value => 1.week.ago.to_date.strftime('%d-%b-%Y') %>
      &ndash;
      <%= text_field_tag :to, :class => "form-control datepicker", :style => "width: 8em; display: inline-block", :value => Date.today.strftime('%d-%b-%Y') %>

      <h2>2. Set a title</h2>
      <%= text_field_tag :h2, :class => "form-control", :value => "#{@group.slug}'s week in review" %>

      <h2>3. Add a message</h2>
      <%= text_area_tag :message, :class => 'wysiwyg form-control' %>
      <button id="grab-button" class="btn btn-default" style="margin-top: 5px">Grab HTML</button>   

      <h2>4. Customise HTML</h2>
      <%= text_area_tag :customised_html, :class => 'form-control', :rows => 10 %>
      <button id="preview-button" class="btn btn-default" style="margin-top: 5px">Preview</button> (opens in new window)

      <h2>5. Send</h2>
      <button class="btn btn-default">Send</button>

    <% end %>

  </div>
</div>
