<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Docs</li>
</ol>

<h1>Docs</h1>

<a style="float: right" class="btn btn-primary" href="javascript:;" onclick="$(this).hide();
    $('#add-doc').slideDown()"><i class="fa fa-plus"></i> Add a doc</a>    

<div class="panel panel-default" style="display: none" id="add-doc">
  <div class="panel-heading">
    <h3 class="panel-title">Add a doc</h3>
  </div>
  <div class="panel-body">
    <% if current_account %>
      <% form_tag '', :class => 'form-inline' do %>
        <%= text_field_tag :url, :class => 'form-control', :placeholder => 'Google Doc URL' %>
        <% if !@group %>
          <%=I18n.t(:group).capitalize%> <%=select_tag :slugs, :options => [''] + current_account.memberships.map(&:group).map { |group| [group.name, group.slug] }.sort_by { |name,slug| name }, :class => 'form-control', :onchange => "this.form.action = '/groups/' + $(this).val() + '/docs/new'" %>
        <% end %>
        <button class="btn btn-primary">Add</button>
      <% end %>
    <% end %>
  </div>
</div>

<% form_tag '', :method => 'get', :class => 'form-inline' do %>    
  <%=I18n.t(:filter_by_group).capitalize%>
  <%=select_tag :group_id, :selected => params[:group_id], :options => [''] + current_account.memberships.map(&:group).map { |group| [group.name, group.id] }.sort_by { |name,slug| name }, :class => 'form-control', :onchange => "this.form.submit()" %>
<% end %>

<table style="margin-top: 1em" class="table table-hover">
  <% @docs.each { |doc| %>

    <tr>
      <td><img style="width: 16px" src="/images/<%=doc.type%>.png" title="<%=doc.type%>"></td>
      <td>
        <a target="_blank" href="<%=doc.url%>"><%= doc.title %></a>
        <% if !@group %>
          <small><%=g doc.group%></small>
        <% end %>
      </td>
      <td><%=I18n.t(:listed).capitalize%> <%=timeago(doc.created_at)%> by <a href="/accounts/<%=doc.account.id%>"><%=doc.account.name%></a></td>
      <td><a class="edit" href="/docs/<%=doc.id%>/destroy" data-confirm="Are you sure you want to unlist this doc?"><i class="fa fa-times"></i></a></td>
    </tr>

  <% } %>
</table>