<h1>Your docs</h1>

<% if (@group ? (current_account and @group.memberships.find_by(account: current_account)) : current_account) %>
  <% form_tag (@group ? "/groups/#{@group.slug}/docs/new" : "/docs/new"), :class => 'form-inline' do %>
    <label>Add a doc:</label>
    <%= text_field_tag :url, :class => 'form-control', :placeholder => 'Google Doc URL' %>
    <% if !@group %>
      Group <%=select_tag :slugs, :options => [''] + current_account.memberships.map(&:group).map(&:slug), :class => 'form-control', :onchange => "this.form.action = '/groups/' + $(this).val() + '/docs/new'" %>
    <% end %>
    <button class="btn btn-primary"><i class="fa fa-plus"></i> Add doc</button>
  <% end %>
<% end %>

<table style="margin-top: 1em" class="table table-hover">
  <% @docs.each { |doc| %>

    <tr>
      <td><img style="width: 16px" src="/images/<%=doc.type%>.png" title="<%=doc.type%>"></td>
      <td>
        <a target="_blank" href="<%=doc.url%>"><%= doc.title %></a>
        <% if !@group %>
          <small><%=g doc.group%></small>
        <% end %>
      </td>
      <td><%=I18n.t(:created).capitalize%> <%=timeago(doc.created_at)%> by <a href="/accounts/<%=doc.account.id%>"><%=doc.account.name%></a></td>
      <td><a class="edit" href="/docs/<%=doc.id%>/destroy" data-confirm="Are you sure you want to unlist this doc?"><i class="fa fa-times"></i></a></td>
    </tr>

  <% } %>
</table>