<ul class="fa-ul">
  <li><i title="Happening <%= @event.when_details %>" class="fa-li fa fa-calendar"></i><%= @event.when_details %></li>
  <% if @event.organisation %>
    <li>Hosted by <i title="Host organisation" class="fa-li fa fa-bullhorn"></i><a href="/organisations/<%=@event.organisation_id%>"><%= @event.organisation.name %></a></li>
  <% end %>
  <li><i title="For more information" class="fa-li fa fa-info"></i>
    <% if @event.more_info %>
      For more information, see <a href="<%=@event.more_info%>"><%=@event.more_info.split('/')[2].gsub('www.','')%></a> or contact <a href="/accounts/<%=@event.account_id %>"><%=@event.account.name%></a>
    <% else %>
      For more information, contact <a href="/accounts/<%=@event.account_id %>"><%=@event.account.name%></a>
    <% end %>    
  </li>
  <li><i title="Location" class="fa-li fa fa-map-marker"></i><a href="http://www.google.co.uk/maps?q=<%= URI.encode(@event.location) %>" target="map"><%= @event.location %></a></li>
  <li><i title="Ticketing" class="fa-li fa fa-ticket"></i>
    <% if @event.tickets_link %>
      <a target="_blank" href="<%=@event.tickets_link %>"><%=@event.ticketing %></a>
    <% else %>
      <%=@event.ticketing %>
    <% end %>
  </li>
</ul>

<% if @event.reason %>
  <strong><%= @event.reason %></strong>
<% end %>

<% if params[:read_more] %>
  <a href="/groups/<%=@group.slug%>/calendar/<%=@event.id%>">Read more&hellip;</a>
<% else %>
  <% if @event.reason %><br /><br /><% end %>
  <%= @event.details  %>
<% end %>