<ul class="fa-ul">
  <li><i title="Happening <%= @event.when_details %>" class="fa-li fa fa-calendar"></i><strong><%= @event.when_details %></strong></li>
  <% if @event.organisation %>
    <li>Hosted by <i title="Host organisation" class="fa-li fa fa-bullhorn"></i><strong><a href="/organisations/<%=@event.organisation_id%>"><%= @event.organisation.name %></a></strong></li>
  <% end %>
  <li><i title="Location" class="fa-li fa fa-map-marker"></i><strong><a href="http://www.google.co.uk/maps?q=<%= URI.encode(@event.location) %>" target="map"><%= @event.location %></a></strong></li>
  <li><i title="Ticketing" class="fa-li fa fa-ticket"></i><strong>
      <% if @event.tickets_link %>
        <a target="_blank" href="<%=@event.tickets_link %>"><%=@event.ticketing %></a>
      <% else %>
        <%=@event.ticketing %>
      <% end %>
    </strong></li>
</ul>

<% if @event.reason %>
  <strong><%= @event.reason %></strong>
<% end %>

<% if params[:read_more] %>
  <a href="/groups/<%=@group.slug%>/calendar/<%=@event.id%>">Read more&hellip;</a>
<% else %>
  <% if @event.reason %><br /><br /><% end %>
  <%= @event.details  %>
<% end %>

<p style="font-size: smaller; text-align: right; margin-top: 10px">
  Created by <a href="/accounts/<%=@event.account_id %>"><%=@event.account.name%></a>
  &middot; <a href="/groups/<%=@group.slug%>/calendar/<%=@event.id%>/edit">Edit</a>
</p>