<% if !@group %>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-6 col-md-offset-3">
      <% form_tag '', :class => 'form-horizontal' do %>
        <div class="form-group">
          <label class="control-label col-md-3">Pick a group</label>
          <div class="col-md-6"> 
            <%=select_tag :slugs, :options => [''] + current_account.memberships.map(&:group).map(&:slug), :class => 'form-control', :onchange => "location = '/groups/' + $(this).val() + '/calendar/add'" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>

  <ol class="breadcrumb">
    <li><a href="/groups">Groups</a></li>
    <li>
      <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
    </li>
    <li>
      <a href="/groups/<%=@group.slug%>/calendar">Calendar</a>    
    </li>  
    <% if @event.persisted? %>
      <li>
        <a href="/groups/<%=@group.slug%>/calendar/<%=@event.id%>"><%= @event.name %></a>    
      </li>      
      <li class="active">
        Edit
      </li>
    <% else %>
      <li class="active">
        Add event
      </li>    
    <% end %>
  </ol>


  <div class="row" style="margin-top: 10px">
    <div class="col-md-6 col-md-offset-3">

      <style>
        .time { display: none }
        #event_publicity_tweet { height: 8em }
      </style>
      <script>
        $(function() {
          var add = $('<a href="javascript:;" style="margin-left: 5px">Add a time</a>');
          $(add).click(function() {
            $('.time').show();
            $('#event_consider_time').prop('checked', true);
            $(this).hide();
          });
          $(add).insertBefore($('.time').first());
          if ($('#event_consider_time').prop('checked'))
            $(add).click();

          $("input[name='event[ticketing]']").click(function() {
            if ($(this).val() == 'No ticket required') {
              $('#tickets-link-div').hide();
              $('#tickets-link-div input').val('');
            } else if ($(this).val() == 'Free, but please RSVP') {
              $('#tickets-link-div').show();
              $('#tickets-link-div .control-label').html('Link/email to RSVP');
            } else if ($(this).val() == 'Ticket required') {
              $('#tickets-link-div').show();
              $('#tickets-link-div .control-label').html('Link/email for tickets');
            }
          });
          $("input[name='event[ticketing]']:checked").click();
        });
      </script>        

      <% form_for @event, @event.new_record? ? "/groups/#{@group.slug}/calendar/add" : "/groups/#{@group.slug}/calendar/#{@event.id}/edit", :class => 'form-horizontal', :multipart => true do |f| %>

        <%= f.text_block :name %>
        <%= f.datetime_block :start_time, div_class: 'col-md-9', fives: true %>
        <%= f.datetime_block :end_time, div_class: 'col-md-9', fives: true %>
        <%= f.check_box :consider_time, :style => 'display: none'%>
        <%= f.text_block :location %>           
        <%= f.select_block :organisation_id, options: ['']+Organisation.order_by(:name.asc).map { |organisation| [organisation.name, organisation.id] } %>
        <%= f.wysiwyg_block :details, div_class: 'col-md-9' %>        
        <%= f.text_block :more_info %>        
        <%= f.radio_block :ticketing %>
        <div id="tickets-link-div" style="display:none">
          <%= f.text_block :tickets_link %>
        </div>
        <%= f.text_block :reason %>        
        <%= f.text_area_block :publicity_tweet, div_class: 'col-md-9' %>
        <% ExtraFields.fields(Event).each { |fieldname, fieldtype| %> 
          <%= f.send("#{fieldtype}_block", fieldname, div_class: ('col-md-9' if [:wysiwyg, :text_area].include?(fieldtype))) %>
        <% } %>       
        <% if @event.new_record? %>
          <%= f.check_box_block :start_conversation %>    
        <% end %>

        <%= f.submit_block destroy_url: "/groups/#{@group.slug}/calendar/#{@event.id}/destroy" %>

      <% end %>

    </div>
  </div>

<% end %>

