<ol class="breadcrumb">
  <li><a href="/">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/calendar">Calendar</a>    
  </li>  
  <li class="active">
    <%= @event.name %>
  </li>
  <li style="float: right; width: 7em">
    <a title="Edit event" class="edit restore-opacity" href="/groups/<%=@group.slug%>/calendar/<%=@event.id%>/edit"><i class="fa fa-pencil"></i> Edit event</a>
  </li>       
</ol>

<div class="row">
  <div class="col-md-6">

    <h1><%= @event.name %></h1>

    <%= partial 'events/summary' %>

  </div>
  <div class="col-md-6">
    <style>#calendar { margin-top: 20px }</style>
    <%= partial :'events/calendar', :locals => {:calendar_path => "/groups/#{@group.slug}/calendar", :mini => true} %>  
  </div>
</div>