<ul class="page-options">  
  <li>
    <a title="Edit event" class="edit restore-opacity" href="/groups/<%=@group.slug%>/events/<%=@event.id%>/edit"><i class="fa fa-pencil"></i> Edit event</a>
  </li>    
</ul>

<ol class="breadcrumb">
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/events">Events</a>    
  </li>  
  <li class="active">
    <%= @event.name %>
  </li>     
</ol>

<div class="row">
  <div class="col-md-6">

    <h1><%= @event.name %></h1>

    <%= partial 'events/summary', :locals => {:event => @event} %>

  </div>
  <div class="col-md-6">
    <style>
      #calendar { margin-top: 20px }
      .fc-right .fc-button-group { display: none }
    </style>
    <%= partial :'events/calendar' %>  
  </div>
</div>