
<div class="media" style="border: 1px solid #ddd; background: white">
  <% if picture %>
    <a
      onclick="
      <% if player %>
        $(this).closest('div').html('<iframe style=\'width: 100%; height: 300px\; border: 0\' src=\'<%=player%><%='?' unless player.include?('?')%>&autoplay=1\'></iframe>').css('border',0);        
      <% else %>
        window.open('<%=url%>')
      <% end %>
      "
      class ="pull-left" href="javascript:;" style="border-right: 1px solid #ddd; margin: 0; width: 150px; height: 150px; background: url(<%=picture%>); background-size: cover; background-position: center"></a>
    <% end %>    
  <div class="media-body" style="padding: 10px ">
    <p style="font-weight: bold; margin: 0; font-size: 12px">
      <a target="_blank" style="text-decoration:none;" href="<%= url %>" >
        <%= title %>
      </a>
    </p>
    <p style="font-size: 12px">
      <a target="_blank" style="text-decoration:none; color: #aaa;" href="<%= url %>"><%= url %></a>
    </p>
    <p style="font-size: 12px; color: #aaa">
      <a target="_blank" style="text-decoration:none; color: #aaa;" href="<%= url %>"><%= description %></a>
    </p>
  </div>
</div> 


