
<div style="border: 1px solid #ddd; padding: 10px; margin: 1em 0; background: white; position: relative">

  <a class="edit" style="position: absolute; top:0; right: 5px" title="Delete post" data-confirm="Are you sure you want to delete this post?" href="/groups/<%=@group.slug%>/wall/<%=wall_post.id%>/destroy"><i class="fa fa-times"></i></a>

  <div class="media" style="margin-top: 0">
    <span class="pull-left">
      <img class="media-object" style="width: 48px" src="<%=wall_post.account.picture ? wall_post.account.picture.thumb('48x48#').url : '/images/silhouette.png' %>">
    </span>
    <div class="media-body">
      <a href="/accounts/<%=wall_post.account.id%>" style="font-weight: bold;"><%=wall_post.account.name%></a>                
      <br />
      <a title="<%=wall_post.created_at%>" style="font-size: 12px; color: #aaa;" href="/groups/<%=@group.slug%>/wall/<%=wall_post.id%>"><%=time_ago_in_words(wall_post.created_at)%> ago</a>
    </div>
  </div> 

  <p style="margin: 1em 0"><%=Rinku.auto_link(wall_post.body.gsub("\n","\n<br />"))%></p>

  <% if wall_post.file %>
    <% if wall_post.file.image? %>
      <a onclick="$('#wall-post-lightbox-<%=wall_post.id%> .modal-body').html('<img style=\'width: 100%\' src=\'<%=wall_post.file.url%>\'>')" data-toggle="modal" href="#wall-post-lightbox-<%=wall_post.id%>"><img style="width: 150px;" src="<%=wall_post.file.thumb('150x150#').url%>"></a>
      <div class="modal fade" id="wall-post-lightbox-<%=wall_post.id%>">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">              
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <i class="fa fa-paperclip"></i> <a href="<%=wall_post.file.url%>"><%=wall_post.file_name%></a>
    <% end %>
  <% end %>

  <% if wall_post.url %>
    <%= partial :'wall/opengraph', :locals => {:title => wall_post.title, :url => wall_post.url, :description => wall_post.description, :player => wall_post.player, :picture => wall_post.picture} %>
  <% end %>

</div>