<div class="panel panel-default">
  <div class="panel-body">

    <div class="media">
      <span class="pull-left">
        <a href="/accounts/<%=classified.account_id%>"><img class="media-object" style="display:block;width: 100px" src="<%=classified.account.picture ? classified.account.picture.thumb('100x100#').url : '/images/silhouette.png' %>"></a>
        <a style="margin-top: 2px; display: inline-block; font-weight:bold" href="/accounts/<%=classified.account_id%>"><%=classified.account.name%></a>
      </span>
      <div class="media-body">


        <%= classified.description.gsub("\n","<br />") %>
        
        <div>
          <a class="label label-primary" href="mailto:<%=classified.account.email%>"><i class="fa fa-mail-reply"></i> Reply</a>
        </div>

        <div class="classified-info">
          <small>
            <%=timeago(classified.created_at)%>
            <% if !@group %>
              in <%= g(classified.group, force: true) %>
            <% end %>   
            <% if classified.account_id == current_account.id or classified.group.memberships.find_by(admin: true, account: current_account) or current_account.admin? %>
              &middot;
              <a class="edit" href="/groups/<%=classified.group.slug%>/classifieds/<%=classified.id%>/edit"><i class="fa fa-pencil"></i> Edit</a>  
              &middot;
              <a class="edit" href="/classifieds/<%=classified.id%>/destroy" data-confirm="Are you sure you want to unlist this request/offer?"><i class="fa fa-times"></i></a>
            <% end %>
          </small>
        </div>      

      </div>
    </div>      

  </div>
</div>  