<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.name%></a>
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/classifieds"><%=I18n.t(:classifieds).capitalize%></a>    
  </li>  
  <li class="active">
    Make a request/offer
  </li>    
</ol>

<% form_for @classified, @classified.new_record ? "/groups/#{@group.slug}/classifieds/new" : "/groups/#{@group.slug}/classifieds/#{@classified.id}/edit", :class => 'form-horizontal' do |f| %>
  <%= f.select_block :type %>

  <style>#classified_description { height: 6em }</style>
  <script>
    $(function () {
      $('#classified_description').simplyCountable({
        counter: '#description-counter',
        maxCount: <%= Config['MAX_CLASSIFIED_LENGTH'] || 150 %>
      });
    })
  </script>
  <%= f.text_area_block :description, hint: %Q{<span id="description-counter"></span>} %> 

  <%= f.submit_block :button_text => (@classified.new_record ? "Create #{I18n.t(:classified)}" : "Update #{I18n.t(:classified)}" )%>
<% end %>
