<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.name%></a>    
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/surveys">Surveys</a>    
  </li>  
  <% if @survey.persisted? %>
    <li>
      <a href="/groups/<%=@group.slug%>/surveys/<%=@survey.id%>"><%= @survey.title %></a>    
    </li>      
    <li class="active">
      Edit
    </li>
  <% else %>
    <li class="active">
      New survey
    </li>    
  <% end %>
</ol>

<% form_for @survey, @survey.new_record? ? "/groups/#{@group.slug}/surveys/new" : "/groups/#{@group.slug}/surveys/#{@survey.id}/edit", :class => 'form-horizontal', :multipart => true do |f| %>

  <%= f.text_block :title %>
  <%= f.text_area_block :intro %>
  <%= f.text_block :redirect_url %>
  <%= partial :'surveys/questions', :locals => {:f => f} %>        

  <%= f.submit_block destroy_url: "/groups/#{@group.slug}/surveys/#{@survey.id}/destroy" %>

<% end %>
