<% if !@group %>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-6 col-md-offset-3">
      <% form_tag '', :class => 'form-horizontal' do %>
        <div class="form-group">
          <label class="control-label col-md-3">Pick a group</label>
          <div class="col-md-6"> 
            <%=select_tag :slugs, :options => [''] + current_account.memberships.map(&:group).map(&:slug), :class => 'form-control', :onchange => "location = '/groups/' + $(this).val() + '/surveys/new'" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>

  <ol class="breadcrumb">
    <li><a href="/groups">Groups</a></li>
    <li>
      <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
    </li>
    <li>
      <a href="/groups/<%=@group.slug%>/surveys">Surveys</a>    
    </li>  
    <% if @survey.persisted? %>
      <li>
        <a href="/groups/<%=@group.slug%>/surveys/<%=@survey.id%>"><%= @survey.title %></a>    
      </li>      
      <li class="active">
        Edit
      </li>
    <% else %>
      <li class="active">
        New survey
      </li>    
    <% end %>
  </ol>


  <div class="row" style="margin-top: 10px">
    <div class="col-md-6 col-md-offset-3">
      
      <% form_for @survey, @survey.new_record? ? "/groups/#{@group.slug}/surveys/new" : "/groups/#{@group.slug}/surveys/#{@survey.id}/edit", :class => 'form-horizontal', :multipart => true do |f| %>

        <%= f.text_block :title %>
        <%= partial :'surveys/questions', :locals => {:f => f} %>        
      
        <%= f.submit_block destroy_url: "/groups/#{@group.slug}/surveys/#{@survey.id}/destroy" %>

      <% end %>

    </div>
  </div>

<% end %>

