<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/surveys">Surveys</a>    
  </li>  
  <li>
    <a href="/groups/<%=@group.slug%>/surveys/<%=@survey.id%>"><%= @survey.title %></a>        
  </li>     
  <li class="active">
    Results
  </li>
</ol>

<div style="margin-top: 20px">

  <a class="btn btn-default" href="/groups/<%=@group.slug%>/surveys/<%=@survey.id%>/results.csv"><i class="fa fa-download"></i> Download results as CSV</a>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Took survey</th>
        <% @survey.questions.order('question_id asc').each { |question| %>
          <th><%=question.text%></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% @survey.takers.each { |account| %>
        <tr>
          <td>
            <span style="white-space: nowrap">
              <img style="width: 32px" src="<%=account.picture ? account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
              <a style="font-weight: bold" href="/accounts/<%=account.id%>"><%=account.name%></a>
            </span>
          </td>
          <td>
            <%=@survey.answers.find_by(account: account).created_at%>
          </td>
          <% @survey.answers.where(account: account).order('question_id asc').each { |answer| %>
            <td><%= text = answer.try(:text); case text; when 'true'; '<i class="fa fa-check"></i>'; when 'false'; '<i class="fa fa-times"></i>'; else; text; end %></td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>

</div>