<ol class="breadcrumb">
  <li><a href="/groups">Groups</a></li>
  <li>
    <a href="/groups/<%=@group.slug%>"><%=@group.slug%></a>    
  </li>
  <li>
    <a href="/groups/<%=@group.slug%>/surveys">Surveys</a>    
  </li>  
  <li>
    <a href="/groups/<%=@group.slug%>/surveys/<%=@survey.id%>"><%= @survey.title %></a>        
  </li>     
  <li class="active">
    Results
  </li>
</ol>

<div style="margin-top: 20px">

  <a class="btn btn-default" href="/groups/<%=@group.slug%>/surveys/<%=@survey.id%>/results.csv"><i class="fa fa-download"></i> Download results as CSV</a>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Took survey</th>
        <% question_ids = []; @survey.questions.order('order asc').each { |question| question_ids << question.id; %>
          <th><%=question.text%></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% @survey.survey_takers.each { |survey_taker| account = survey_taker.account %>
        <tr>
          <td>
            <span style="white-space: nowrap">
              <img style="width: 32px" src="<%=account.picture ? account.picture.thumb('32x32#').url : '/images/silhouette.png' %>">
              <a style="font-weight: bold" href="/accounts/<%=account.id%>"><%=account.name%></a>
            </span>
          </td>
          <td>
            <%=survey_taker.created_at%>
          </td>          
          <% answers = {}; survey_taker.answers.each { |answer| answers[answer.question_id] = (text = answer.try(:text); case text; when 'true'; '<i class="fa fa-check"></i>'; when 'false'; '<i class="fa fa-times"></i>'; else; text; end) } %>
          <% question_ids.each { |question_id| %>
            <td>
              <%= answers[question_id] %>
            </td>  
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>

</div>