<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
      body, p, span { font-family: "Source Sans Pro", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif; }
      p.MsoNormal { margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important }
    </style>
  </head>
  <body>
    <span style="display:none !important;visibility: hidden;opacity: 0;font-size: 0"><%=(n = Nokogiri::HTML.parse(conversation_post.body)).css('style').remove; n.text[0..255]%><br /></span>
    <span style="font-size: 80%">Respond by replying above this line or visit <a href="http://<%=Config['DOMAIN']%>/conversations/<%=conversation_post.conversation.slug%>">http://<%=Config['DOMAIN']%>/conversations/<%=conversation_post.conversation.slug%></a></span>
    <br />

    <% if group.didyouknows.count > 0 %>
      <span style="font-size: 80%"><strong>Did you know&hellip;</strong> <%=conversation_post.didyouknow_replacements(group.didyouknows.all.sample.body)%></span>
      <br />
    <% end %>

    <span style="font-size: 80%"><a href="http://<%=Config['DOMAIN']%>/conversation_posts/<%=conversation_post.id%>/like">Like this post</a></span>      
    <br />

    <br />

    <%=conversation_post.replace_cids!.replace_iframes!.body%>
    
    <% if Config['INCLUDE_SENDER_PROFILE'] %>
      <div style="margin-top: 1em">
        <a href="http://<%=Config['DOMAIN']%>/accounts/<%=conversation_post.account.id%>"><img style="width: 130px" src="http://<%=Config['DOMAIN']%><%=conversation_post.account.picture ? conversation_post.account.picture.thumb('130x130#').url : "http://#{Config['DOMAIN']}/images/silhouette.png" %>"></a>
        <h3><a href="http://<%=Config['DOMAIN']%>/accounts/<%=conversation_post.account.id%>"><%=conversation_post.account.name%></a></h3>
        <ul>    
          <% if !Config['HIDE_SEARCH_MEMBERSHIPS'] %>    
            <% if conversation_post.account.public_memberships.count > 0 %>
              <li>
                <i title="Groups" class="fa fa-li fa-group"></i>
                <%=I18n.t(:member_of).capitalize%> <%= conversation_post.account.public_memberships.map { |membership| %Q{<a href="http://#{Config['DOMAIN']}/groups/#{membership.group.slug}">#{membership.group.name}</a>} }.to_sentence %>
              </li>
            <% end %>    
          <% end %>

          <% if !Config['HIDE_ACCOUNT_AFFILIATIONS'] %>
            <% conversation_post.account.affiliations.each { |affiliation|%>
              <li><i title="<%=affiliation.title%> <%=I18n.t(:at)%> <%=affiliation.organisation.name%>" class="fa fa-li fa-briefcase"></i><%=affiliation.title%> <%=I18n.t(:at)%> <a href="http://<%=Config['DOMAIN']%>/organisations/<%=affiliation.organisation_id%>"><%=affiliation.organisation.name%></a></li>
            <% } %>
          <% end %>   
        </ul>
      </div>
    <% end %>        

    <% close_divs = ''; conversation_post.conversation.visible_conversation_posts.order_by(:created_at.desc)[1..-1].each { |conversation_post| %>
      <br /><br />        
      On <%=conversation_post.created_at%>, <%=conversation_post.account.name%><% unless Config['HIDE_ACCOUNT_EMAIL']%> &lt;<a href="mailto:<%=conversation_post.account.email%>"><%=conversation_post.account.email%></a>&gt;<% end %>  wrote:
      <div style="border-left: 1px solid #ccc; margin-left: 1em; padding-left: 1em">
        <%=conversation_post.replace_cids!.replace_iframes!.body%>
        <% close_divs << '</div>' %>
      <% } %>
      <%= close_divs %>     
     
      <div style="margin-top: 1em">
        <span style="font-size: 80%">
          Too many emails? <a href="http://<%=Config['DOMAIN']%>/conversations/<%=conversation_post.conversation.slug%>/mute">Mute this conversation</a>, switch to a <a href="http://<%=Config['DOMAIN']%>/groups/<%=group.slug%>">digest</a>, or <a href="http://<%=Config['DOMAIN']%>/groups/<%=group.slug%>">turn off email notifications completely</a>
        </span>
      </div>

      <% if !Config['BCC_SINGLE'] %>
        <img src="<%=Config['DOMAIN']%>/conversation_post_bccs/<%=conversation_post_bcc.id%>/read.gif" />
      <% end %>
  </body>
</html>