<!DOCTYPE html>
<html>
  <head>
    <title><%=ENV['SITE_NAME']%></title>

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      #map_canvas { height: 100% }
      a { color: #428BCA; text-decoration: none }
      div.infowindow { white-space: nowrap }
    </style>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/javascripts/markerclusterer.js"></script>
    <script type="text/javascript">
      var script = '<script type="text/javascript" src="http://google-maps-' +
              'utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble';
      if (document.location.search.indexOf('compiled') !== -1) {
        script += '-compiled';
      }
      script += '.js"><' + '/script>';
      document.write(script);
    </script>    
    <script type="text/javascript">
      function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          scaleControl: true,
          streetViewControl: false,
          maxZoom: 16
        });
        var bounds = new google.maps.LatLngBounds();

        var points = []
<% points.each { |point| if [:lat, :lng, :name].all? { |m| point.respond_to?(m) and point.send(m) } %>
          points.push({id: '<%=point.id%>', lat: <%=point.lat%>, lng: <%=point.lng%>, name: "<%=point.name%>", path: "<%=path.call(point)%>"})
<% end } %>

        var infowindow = new google.maps.InfoWindow();
        var markers = []
        for (i = 0; i < points.length; i++) {
          var point = points[i];
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(point.lat, point.lng),
            title: point.name
          });

          google.maps.event.addListener(marker, 'click', function(point, marker) {
            return function() {
              infowindow.setContent('<div class="infowindow"><a target="_parent" href="'+point.path+'">'+point.name+'</a></div>');
              infowindow.open(map, marker);
            }
          }(point, marker));
          bounds.extend(marker.getPosition());
          markers.push(marker);
        }

        var markerCluster = new MarkerClusterer(map, markers);

<% if params[:zoom] %>
          map.setZoom(<%=params[:zoom]%>);
          map.setCenter(new google.maps.LatLng(<%=params[:lat]%>,<%=params[:lng]%>));
<% else %>
          map.fitBounds(bounds);
<% end %>

      }


    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>  
  </body>
</html>