
<a class="btn btn-danger" style="float: right" href="/config/restart"><i class="fa fa-power-off"></i> Restart app</a>

<h2>Environment variables</h2>

<%
env = {
  :HEROKU_APP_NAME => 'Name of the underlying Heroku app',
  :HEROKU_API_KEY => 'Heroku API key',

  :DOMAIN => 'Domain of Lumen install',
  :MAIL_DOMAIN => 'Domain from which mails will be sent and received',

  :VIRTUALMIN_IP => 'IP for Virtualmin installation',
  :VIRTUALMIN_USERNAME => 'Username for Virtualmin',
  :VIRTUALMIN_PASSWORD => 'Password for Virtualmin',

  :S3_BUCKET_NAME => 'S3 bucket name',
  :S3_ACCESS_KEY => 'S3 access key',
  :S3_SECRET => 'S3 secret',  

  :SITE_NAME => 'Name of site e.g. Lumen Users Network',
  :SITE_NAME_DEFINITE => "Name of site with 'the' if appropriate e.g. The Lumen Users Network",
  :SITE_NAME_SHORT => 'Short site name e.g. LUN',
  :NOREPLY_NAME => "Name of email sender for general emails",
  :NOREPLY_SIG => "Email signature for general emails",
  :HELP_ADDRESS => 'Email address for general queries',

  :ENV_FIELDS_ACCOUNT => 'Extra fields for the Account model e.g. biography:wysiwyg,research_proposal:file',
  :ENV_FIELDS_EVENT => 'Extra fields for the Event model',
  
  :AFFILIATION_POSITIONS => 'Comma-separated list of acceptable positions e.g. Novice,Intermediate,Master',
  :ACCOUNT_TAGS_PREDEFINED => 'If defined, turns the tagships profile field into a series of checkboxes',
    
  :HIDE_SEARCH_MEMBERSHIPS => 'If defined, hides group memberships on profile search results',
  :HIDE_SEARCH_TAGS => 'If defined, hides tags on profile search results',
  :HIDE_ORGANISATIONS_TAB => 'If defined, hides the \'organisations\' tab',
  :HIDE_SECTORS_TAB => 'If defined, hides the \'sectors\' tab',
  :HIDE_DIRECTORY_TAB => 'If defined, hides the \'All groups\' tab',
  :HIDE_DIGEST_TAB => 'If defined, hides the \'Digest\' tab',
    
  :ICON_ORGANISATIONS => 'Alternative Font Awesome icon name for organisations tab',
  :ICON_SECTORS => 'Alternative Font Awesome icon name for sectors tab',
    
  :NEWSME_SWITCH_HOUR => "Hour to switch over to today's news summaries e.g. 11",  

  :FACEBOOK_KEY => 'Facebook API key',
  :FACEBOOK_SECRET => 'Facebook API secret',
  :LINKEDIN_KEY => 'LinkedIn API key',
  :LINKEDIN_SECRET => 'LinkedIn API secret',
  :GOOGLE_KEY => 'Google API key',
  :GOOGLE_SECRET => 'Google API secret',
  :TWITTER_KEY => 'Twitter API key',
  :TWITTER_SECRET => 'Twitter API secret',

  :AIRBRAKE_HOST => 'Airbrake host (no http://)',
  :AIRBRAKE_API_KEY => 'Airbrake API key'  
  } %>

<script>
  $(function() {
    $('#env input[type=text]').focus(function() {
      $('#env input[name="options[' + this.name + ']"][value=edit]').prop('checked', true);
    });
  });
</script>

<% form_tag '/config', :class => 'form-horizontal', :id => 'env' do %>
  <% env.each { |k,v| %>
    <div class="form-group">
      <label class="control-label col-md-4">
        <%=k%>
        <p style="font-weight: normal" class="help-block"><%=v%></p>
      </label>
      <div class="col-md-4">
        <%= text_field_tag k, :value => ENV[k.to_s], :class => 'form-control', :disabled => !ENV['HEROKU_APP_NAME'] %>
        <%= radio_button_tag "options[#{k}]", :value => 'edit', :style => 'display: none' %>        
      </div>
    </div>
  <% } %>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
<% end %>

<h2>Notification script check</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-4">
      Notification script
    </label>
    <div class="col-md-2">
      <% if ENV['HEROKU_APP_NAME'] %>
        <% if ENV['VIRTUALMIN_IP'] %>
          <% if @notification_script %>
            <i class="fa fa-check"></i> Present
            <a class="btn btn-default" href="/config/create_notification_script">Recreate notification script</a>
          <% else %>
            <i class="fa fa-warning"></i> Missing
            <a class="btn btn-primary" href="/config/create_notification_script">Create notification script</a>
          <% end %>
        <% else %>
          <i class="fa fa-warning"></i> Set Virtualmin details first
        <% end %>
      <% else %>
        <i class="fa fa-warning"></i> Set app name first
      <% end %>
    </div>
  </div>
</form>

<h2>Fragments</h2>

<% 
fragments = {
  :'about' => 'Text of about page',
  :'sign-in' => 'Text displayed on sign in page',
  :'first-time' => 'Text displayed on account edit page upon first login',
  :'home' => 'If defined, creates a default landing tab on the homepage with this text',
  :'public-homepage' => 'If defined, creates a public homepage with this HTML',
  :'head' => 'Extra content for &lt;head&gt;',
  :'tip-affiliations' => 'Tip for affiliations field on account edit page',
  :'tip-location' => 'Tip for location field on account edit page',
  :'reminder' => 'Alternative text for reminder emails'
  }
%>

<form class="form-horizontal">
  <% fragments.each { |k,v| %>
    <div class="form-group">
      <label class="control-label col-md-4">
        <%=k%>
        <p style="font-weight: normal" class="help-block"><%=v%></p>
      </label>
      <div class="col-md-2">
        <% if f = Fragment.find_by(slug: k) %>
          <a href="/admin/edit/Fragment/<%=f.id%>" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
        <% else %>
          <a href="/admin/new/Fragment" class="btn btn-default"><i class="fa fa-pencil"></i> Create</a>
        <% end %>        
      </div>
    </div>
  <% } %>
</form>

<h2>Translations</h2>

<p>Please note you must <a href="/config/restart">restart the app</a> for new translations to take effect.</p>

<% 
translations = %w{organisation organisations host_organisation sector sectors position positions account_tagship account_tagships}
%>

<form class="form-horizontal">
  <% translations.each { |k| %>
    <div class="form-group">
      <label class="control-label col-md-4">
        <%=k%>
      </label>
      <div class="col-md-2">
        <p><%= (t = Translation.find_by(key: k)).try(:value) || I18n.t(k) %></p>
        <% if t %>          
          <a href="/admin/edit/Translation/<%=t.id%>" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
        <% else %>
          <a href="/admin/new/Translation" class="btn btn-default"><i class="fa fa-pencil"></i> Create</a>
        <% end %>        
      </div>
    </div>
  <% } %>
</form>