
<a class="btn btn-danger" style="float: right" href="/config/restart"><i class="fa fa-power-off"></i> Restart app</a>


<style>
  a.delete { opacity: 0.5 }
  a.delete:hover { opacity: 1 }
</style>

<h2>Environment variables</h2>

<% form_tag '/config', :class => 'form-horizontal', :id => 'env' do %>
  <% @environment_variables.each { |k,v| if v.is_a? Array; v = v[0]; check_box = true; else; check_box = false; end %>
    <div class="form-group">
      <label class="control-label col-md-4">
        <%=k%>
        <p style="font-weight: normal" class="help-block"><%=v%></p>
      </label>
      <div class="col-md-4">
        <% if check_box %>
          <%= check_box_tag k, :value => true, :checked => (ENV[k.to_s] ? true : false), :disabled => !ENV['HEROKU_OAUTH_TOKEN'] %>
        <% else %>
          <%= text_field_tag k, :value => ENV[k.to_s], :class => 'form-control', :disabled => !ENV['HEROKU_OAUTH_TOKEN'] %>
        <% end %>
      </div>
    </div>
  <% } %>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
<% end %>

<h2>Notification script check</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-4">
      Notification script
    </label>
    <div class="col-md-2">
      <% if ENV['APP_NAME'] %>
        <% if ENV['VIRTUALMIN_IP'] %>
          <% if @notification_script %>
            <i class="fa fa-check"></i> Present
            <a class="btn btn-default" href="/config/create_notification_script">Recreate notification script</a>
          <% else %>
            <i class="fa fa-warning"></i> Missing
            <a class="btn btn-primary" href="/config/create_notification_script">Create notification script</a>
          <% end %>
        <% else %>
          <i class="fa fa-warning"></i> Set Virtualmin details first
        <% end %>
      <% else %>
        <i class="fa fa-warning"></i> Set app name first
      <% end %>
    </div>
  </div>
</form>

<h2>Fragments</h2>

<form class="form-horizontal">
  <% @fragments.each { |k,v| %>
    <div class="form-group">
      <label class="control-label col-md-4">
        <%=k%>
        <p style="font-weight: normal" class="help-block"><%=v%></p>
      </label>
      <div class="col-md-2">
        <% if f = Fragment.find_by(slug: k) %>
          <a href="/admin/edit/Fragment/<%=f.id%>" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
        <% else %>
          <a href="/admin/new/Fragment" class="btn btn-default"><i class="fa fa-pencil"></i> Create</a>
        <% end %>        
      </div>
    </div>
  <% } %>
</form>