<%
possible_tabs = {
  :news => ([I18n.t(:news).capitalize, 'fa-twitter'] if current_account.news_summaries.count > 0),
  :digest => [I18n.t(:digest).capitalize, 'fa-star'],
  :map => [I18n.t(:map).capitalize, 'fa-map-marker'],                    
  :wall => [I18n.t(:wall).capitalize, 'fa-thumbs-up'],  
  :docs => [I18n.t(:docs).capitalize, 'fa-file-text-o'],
  :surveys => [I18n.t(:surveys).capitalize, 'fa-question'],
  :calendar => [I18n.t(:calendar).capitalize, 'fa-calendar'],  
  }
if ENV['HOME_TAB_ORDER']
  tabs = {}
  ENV['HOME_TAB_ORDER'].split(',').map(&:strip).map(&:to_sym).each { |tab|
    tabs[tab] = possible_tabs[tab]
  }
  else
  tabs = possible_tabs
  end
%>

<div class="row">
  <% if ENV['STACKED_HOME'] %>
    <script>
      $(function () {
  <% tabs.each { |k,v| if v %>
            $('#<%=k%>-tab').load('/<%=k%>').show();
    <% end } %>
      });
    </script>
  <% else %>
    <div class="col-md-1">
      <div class="tabbable tabs-left tabs-left-please" style="margin-top: 20px">
        <ul class="nav nav-tabs">
          <% tabs.each { |k,v| if v %>
              <li>
                <a title="<%=v[0]%>" href="#<%=k%>-tab" data-toggle="tab">                
                  <i class="fa-fw fa <%=v[1]%> hidden-xs hidden-sm"></i>
                  <span><%=v[0] %></span>                
                </a>
                <script>
                  $(function () {
                    $("a[href='#<%=k%>-tab']").on('shown.bs.tab', function (e) {
                      $('#<%=k%>-tab').load('/<%=k%>');
                      window.location.hash = this.hash;
                      window.scrollTo(0, 0)
                    });
                  });
                </script>
              </li>
            <% end } %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="<%=ENV['STACKED_HOME'] ? 'col-md-8' : 'col-md-7' %>">        
    <div class="tab-content">
      <% tabs.each { |k,v| %>
        <div class="tab-pane page-container" id="<%=k%>-tab">
          <h2><i class="fa fa-spin fa-spinner"></i></h2>        
        </div>      
      <% } %>
    </div>
  </div>
  <div class="col-md-4">
    <h2>
      <%=I18n.t(:people_in_your_groups, count: current_account.network.count)%>
      <small><a class="edit" title="Full page" href="/network"><i class="fa fa-th-list"></i></a></small>
    </h2>
    <%= partial :'accounts/list', :locals => {:scope => 'network', :scope_id => nil} %>
  </div>
</div>


<script>

  /* Calendar tooltip */

  $(function () {
<% if (c = current_account.events.where(:start_time.gt => Time.now).count) > 0 %>
      $("a[href='#calendar-tab']").attr('title', '<%=pluralize(c,'upcoming event')%>').tooltip({
        placement: 'bottom',
        trigger: 'manual'
      }).tooltip('show');
<% end %>
    $("a[href='#calendar-tab']").on('shown.bs.tab', function (e) {
      $("a[href='#calendar-tab']").tooltip('hide');
    });

    /* Navigate to tab via querystring */

    var hash = window.location.hash;
    if (hash) {
      $('a[href="' + hash + '"]').tab('show');
      window.scrollTo(0, 0);
    } else {
      $(".tabs-left-please a:first").tab('show');
    }

  });
</script>