
<% if Slide.count > 0 %>
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% Slide.order('order asc').each_with_index { |slide,i| %>
        <li data-target="#home-carousel" data-slide-to="<%=i%>" class="<% if i == 0 %>active<% end%>"></li>
      <% } %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% Slide.order('order asc').each_with_index { |slide,i| %>
        <div class="item <%  if i == 0 %>active<% end %>">

          <div style="background-image: url(<%=slide.image.url%>); background-position: center; background-size: cover; height: 315px">
            <% if slide.darken %><div style="background-color: rgba(0,0,0,0.3); height: 100%"></div><% end %>
          </div>

          <div class="carousel-caption">
            <h1><a style="color: white; font-weight: bold; text-transform: uppercase" href="<%=slide.link%>"><%=slide.title%></a></h1>
            <p><a style="color: white;" href="<%=slide.link%>"><%=slide.caption%></a></p>
          </div>
        </div>    
      <% } %>    
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

<%= Fragment.find_by(slug: 'global-landing-tab').try(:body) %>

<style>
  #home-panels h3 { margin: 0; line-height: 150%; font-size: 18px }
  #home-panels h2 { margin-top: 20px }
</style>
<div id="home-panels" class="row" style="margin-top: 20px">

  <div class="col-md-4">        
    <a class="btn btn-hg btn-primary btn-block" href="/conversations/new"><i class="fa fa-comment"></i> Start a conversation</a>
    <h2>Latest conversations</h2>
    <% current_account.latest_conversations.limit(5).each { |conversation| %>
      <div>
        <h3><a class="conversation-title" href="/conversations/<%=conversation.slug%>"><%=conversation.subject%></a> <small><%=g conversation.group%></small></h3>
      </div>
      <strong><%= pluralize(conversation.participants.count,'participant') %>.</strong>
      <% if conversation.last_conversation_post %>
        <%=I18n.t(:last_post).capitalize%> <%=timeago(conversation.last_conversation_post.created_at)%>        
        by <strong><%=conversation.last_conversation_post.account.name%></strong>
        <hr />
      <% end %>
    <% } %>
  </div>

  <div class="col-md-4">      
    <a class="btn btn-hg btn-primary btn-block" href="/events/new"><i class="fa fa-calendar"></i> Create an event</a>
    <h2>Upcoming events</h2>
    <% current_account.events.where(:start_time.gte => Date.today).order_by(:start_time.asc).limit(5).each { |event| %>
      <h3><a href="/groups/<%=event.group.slug%>/events/<%=event.id%>"><%= event.name %></a> <small><%=g event.group%></small></h3>
      <%= partial :'events/minimal', :locals => {:event => event} %>
      <hr />
    <% } %>
  </div>  

  <div class="col-md-4">
    <a class="btn btn-hg btn-primary btn-block" href="/network"><i class="fa fa-search"></i> Browse members</a>
    <h2>Recent members</h2>
    <div class="row">
      <% current_account.network.order_by([:has_picture.desc, :created_at.desc]).limit(4).each { |account| %>
        <div class="col-sm-6 account-minimal">
          <%= partial :'accounts/minimal', :locals => {:account => account} %>
        </div>
      <% } %>
    </div>
  </div>

</div>
