<div class="row">

  <div class="col-md-1">

    <div class="tabbable tabs-left tabs-left-please" style="margin-top: 20px">
      <style>.nav-tabs li a { color: #aaa }</style>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#news-tab" title="News" data-toggle="tab"><i class="fa fa-fire"></i></a></li>
        <li><a href="#calendar-tab" title="Calendar" data-toggle="tab"><i class="fa fa-calendar"></i></a></li>
      </ul>
    </div>
    <script>
      $(function() {
        
        $(window).resize(function(){
          if (document.documentElement.clientWidth < 992) {
            $('.tabs-left-please').removeClass('tabs-left');
          } else {
            $('.tabs-left-please').addClass('tabs-left');
          }
        });

        $('a[data-toggle="tab"][title=Calendar]').on('shown.bs.tab', function (e) {
          $('#calendar').fullCalendar('render')
        });
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
          $('.fc-event').popover('destroy');
        });
      });
    </script>

  </div>
  <div class="col-md-7">        

    <div class="tab-content">
      <div class="tab-pane active" id="news-tab">
        <h2><% if NewsSummary.count > 0 %>News summary for <%=(date = (NewsSummary.first.updated_at - 1.day)).strftime("%A #{date.day.ordinalize} %b")%><% end %></h2>
        <div class="row">
          <% NewsSummary.order_by(:order.asc).each { |news_summary| %>
            <div class="col-md-<%=12/NewsSummary.count%>">
              <div class="news-summary">
                <h3 style="color: #aaa; font-style: italic"><%=news_summary.title%></h3>
                <%= news_summary.body %>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="tab-pane" id="calendar-tab">
        <style>#calendar { margin-top: 20px }</style>
        <%= partial :'events/calendar', :locals => {:calendar_path => '/calendar', :export_path => "/calendar.ics?token=#{current_account.id}", :mini => true} %>        
      </div>      
    </div>

  </div>
  <div class="col-md-4">
    <h2><%=pluralize(current_account.network.count,'person')%> in your groups</h2>
    <%= partial :'accounts/list', :locals => {:scope => 'network', :scope_id => nil} %>
  </div>
</div>
