<div class="row">
  <div class="col-md-1">
    <div class="tabbable tabs-left tabs-left-please" style="margin-top: 20px">
      <ul class="nav nav-tabs">
        <% tabs = {
          :home => (['Home', 'fa-home'] if Fragment.find_by(slug: 'home')),
          :news => (['News', 'fa-twitter'] if current_account.news_summaries.count > 0),
          :digest => (['Digest', 'fa-star'] unless ENV['HIDE_DIGEST_TAB']),
          :map => ['Map', 'fa-map-marker'],                    
          :wall => ['Wall', 'fa-thumbs-up'],          
          :calendar => ['Calendar', 'fa-calendar']
          }.each { |k,v| if v %>
            <li>
              <a style="padding: 5px" title="<%=v[0]%>" href="#<%=k%>-tab" data-toggle="tab">                
                <i class="fa <%=v[1]%> hidden-xs hidden-sm"></i>
                <span style="font-size: 11px"><%=v[0].length > 6 ? v[0][0..5]+'&hellip;' : v[0] %></span>                
              </a>
              <script>
                $("a[href='#<%=k%>-tab']").on('shown.bs.tab', function(e) {
                  $('#<%=k%>-tab').load('/<%=k%>')
                });
              </script>
            </li>
          <% end } %>
      </ul>
    </div>
  </div>
  <div class="col-md-7">        
    <div class="tab-content">
      <% tabs.each { |k,v| %>
        <div class="tab-pane" id="<%=k%>-tab">
          <h2><i class="fa fa-spin fa-spinner"></i></h2>        
        </div>      
      <% } %>
    </div>
  </div>
  <div class="col-md-4">
    <h2><%=pluralize(current_account.network.count,'person')%> in your groups</h2>
    <%= partial :'accounts/list', :locals => {:scope => 'network', :scope_id => nil} %>
  </div>
</div>


<script>

  /* Calendar tooltip */

  $(function() {
<% if (c = current_account.events.where(:start_time.gt => Time.now).count) > 0 %>
      $("a[href='#calendar-tab']").attr('title', '<%=pluralize(c,'upcoming event')%>').tooltip({
        placement: 'bottom',
        trigger: 'manual'
      }).tooltip('show');
<% end %>
    $("a[href='#calendar-tab']").on('shown.bs.tab', function(e) {
      $("a[href='#calendar-tab']").tooltip('hide');
    });

    /* Navigate to tab via querystring */

<% if params[:tab] %>
      $("a[href=#<%=params[:tab]%>-tab]").tab('show');
<% else %>
      $(".tabs-left-please a:first").tab('show');
<% end %>

  });
</script>