
<div id="digest">

  <style>h3 a.btn { float: right }</style>

  <% if @message %>
    <%= @message %>
  <% end %>

  <h2>       
    <% if @h2 %>
      <%=@h2%> <small><%=compact_daterange(@from,@to)%></small>      
    <% else %>
      Digest for <%= @group ? "#{@group.slug}" : 'your groups' %>
      <small>
        <script>
          $(function() {
            $("#digest .datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});
            $('#from-to').submit(function(e) {
              e.preventDefault();
              $('#digest').load('<%= @group ? "/groups/#{@group.slug}/digest" : "/digest" %>?' + $(this).serialize(), function() {
                $(this).children(':first').unwrap();
              });
              return false;
            });
          });
        </script>
        <form style="display: inline" id="from-to">
          <input type="text" onchange="$(this).closest('form').submit()" style="width: 8em; display: inline-block" class="form-control datepicker" name="from" value="<%=@from.strftime('%d-%b-%Y')%>"/>
          &ndash;
          <input type="text" onchange="$(this).closest('form').submit()" style="width: 8em; display: inline-block" class="form-control datepicker" name="to" value="<%=@to.strftime('%d-%b-%Y')%>"/>
        </form>
      </small>
    <% end %>    
  </h2> 

  <% if @review %>
    <%= partial :'digest/upcoming_events' %>
    <%= partial :'digest/new_events' %>
    <%= partial :'digest/hot_conversations' %>        
    <%= partial :'digest/new_people' %>        
    <%= partial :'digest/top_stories' %>        
  <% else %>        
    <%= partial :'digest/hot_conversations' %>    
    <%= partial :'digest/upcoming_events' %>
    <%= partial :'digest/new_events' %>      
    <%= partial :'digest/new_people' %>        
    <%= partial :'digest/top_stories' %>   
  <% end %>

</div>