<% if hot_conversations.length > 0 %>
  <h3><% if group and group.hot_conversation_threshold == 1 %>Conversations<% else %>Hot conversations<% end %> <% if group %><a class="btn btn-default btn-sm" href="/groups/<%=group.slug%>"><i class="fa fa-comments"></i> Browse all conversations</a><% end%></h3>

  <% if group and group.show_full_conversations_in_digests %>
    <% hot_conversations.each { |conversation| %>
      <h3 id="conversation-<%=conversation.id%>">
        <a href="/conversations/<%=conversation.slug%>"><%=conversation.subject%></a>
        <% if !group %>
          <small>
            <i class="fa fa-group"></i> <%=conversation.group.slug%></span>
          </small>
        <% end %>
      </h3>

      <% conversation.visible_conversation_posts.order_by(:created_at.asc).each_with_index { |conversation_post, i|  %>
        <%= partial :'conversations/conversation_post', :locals => {:conversation_post => conversation_post, :i => i} %>
      <% } %>

    <% } %>
  <% else %>
    <%= partial :'conversations/conversations_table', :locals => {:conversations => hot_conversations} %>
  <% end %>
<% end %>   