<% if @hot_conversations.length > 0 %>
  <% @hot_conversations.each { |conversation| %>
    <h3 id="conversation-<%=conversation.id%>">
      First post from <a href="/conversations/<%=conversation.slug%>"><%=conversation.subject%></a>
      <% if !@group %>
        <small>
          <i class="fa fa-group"></i> <%=conversation.group.slug%></span>
        </small>
      <% end %>
    </h3>

    <%= partial :'conversations/conversation_post', :locals => {:conversation_post => (conversation_posts = conversation.conversation_posts.where(:hidden.ne => true).order_by(:created_at.asc)).first} %>

    <div style="text-align: center">
      <a href="/conversations/<%=conversation.slug%>"><%= (conversation_posts.count - 1) %> replies</a> from <%=conversation_posts[1..-1].map(&:account).uniq.map { |account| %Q{<a href="/accounts/#{account.id}">#{account.name}</a>} }.to_sentence %>
    </div>


  <% } %>
<% end %> 