<% if new_events.length > 0 %>
  <h3>
    <%=I18n.t(:new_events).capitalize%>
    <a class="btn btn-default btn-sm" href="/events"><i class="fa fa-calendar"></i> Browse all events</a>
  </h3>
  <ul class="list-unstyled">
    <% new_events.each { |event| %>
      <li><a href="/groups/<%=event.group.slug%>/events/<%=event.id%>"><%=event.name%></a> <%= event.when_details %> <% if !group%><%=g event.group%><% end%></li>
    <% } %>
  </ul>
<% end %> 