
<% if (slides = Slide.where(series: 'not-signed-in')).count > 0 %>
  <%= partial :carousel, :locals => {:slides => slides} %>
<% end %>

<%= eval(f('public-homepage')) %>

<div style="padding: 20px; text-align: center">
  <h2>People using <%=ENV['SITE_NAME']%></h2>
  <div>
    <% random(Account.where(:picture_uid.ne => nil), 6).each {  |account| %>
      <img style="margin: 10px" title="<%=account.name.split(' ').first%>" style="width: 100px" class="img-circle img-bordered" src="<%=account.picture ? account.picture.thumb('100x100#').url : '/images/silhouette.png' %>">
    <% } %>
  </div>
</div>

<div style="padding: 20px; text-align: center">
  <h2><%=I18n.t(:groups).capitalize%></h2>
  <div>
    <% Group.where(:privacy.ne => 'secret').order_by(:slug.asc).each { |group| %>
      <h3>
        <a href="/groups/<%=group.slug%>"><%=group.name%></a>
        <small>
          <%=pluralize(group.members.count, 'member')%>
        </small>
      </h3>
      <p><%= group.description %></p>
    <% } %>
  </div>
</div>

