<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=ENV['SITE_NAME']%></title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <%
    [
      'bootstrap.min.css',
      'bootstrap-theme.min.css',
      'font-awesome.min.css',
      'bootstrap-wysihtml5-0.0.3.css',
      'chosen.min.css',
      'chosen-bootstrap.css',
      'bootstrap-stacked-tabs.css',      
      'datepicker3.css',
      'app.css',      
      'news.css'
      ].each { |file| %> 
      <link rel="stylesheet" href="/stylesheets/<%=file%>" />    
    <% } %>        

    <% [
      'jquery-1.9.1.min.js',
      'bootstrap.min.js',
      'bootstrap3-typeahead.min.js',
      'wysihtml5-0.3.0.js',
      'bootstrap-wysihtml5-0.0.3.js',
      'jquery.confirm.js',
      'jquery.deparam.js',
      'chosen.jquery.min.js',
      'bootstrap-datepicker.js',
      'app.js'
      ].each { |file| %>
      <script src="/javascripts/<%=file%>"></script>
    <% } %>   

    <%= Fragment.find_by(slug: 'head').try(:body) %>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if !current_account %>
          <a class="navbar-brand" href="/"><%=ENV['SITE_NAME']%></a>
        <% end %>        
      </div>
      <% if current_account %>
        <div class="collapse navbar-collapse" id="navbar-top">        
          <ul class="nav navbar-nav">
            <% if current_account %>
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <% if current_account.memberships.count > 1 %>
                <li class="dropdown">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="#">
                    <i class="fa fa-group"></i> Groups
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% current_account.memberships.map(&:group).sort_by(&:slug).each { |group| %>
                      <li><a href="/groups/<%=group.slug%>"><%= group.slug %></a></li>
                    <% } %>  
                  </ul>        
                </li>    
              <% end %>
              <% unless Fragment.find_by(slug: 'hide-organisations') %>
                <li><a href="/organisations"><i class="fa <%=Fragment.find_by(slug: 'organisations-icon').try(:body) || 'fa-bullhorn'%>"></i> <%=tt("Organisations")%></a></li>
              <% end %>
              <% unless Fragment.find_by(slug: 'hide-sectors') %>
                <li><a href="/sectors"><i class="fa fa-th-list"></i> <%=tt("Sectors")%></a></li>
              <% end %>
              <% if current_account.admin? %>
                <li class="admin"><a href="/analytics"><i class="fa fa-globe"></i> Sitewide analytics</a></li>
                <li class="admin"><a href="/config"><i class="fa fa-dashboard"></i> Lumen configuration</a></li>        
              <% end %>
            <%  end %>
          </ul>  
          <style>li.admin { background: #F5F2EB;  }</style>
          <ul class="nav navbar-nav navbar-right">
            <% if current_account %>
              <li><a href="/me/edit">
                  Edit profile & connect accounts
                  <% if current_account.connections.count < 3 %>
                    (<%=current_account.connections.count%>/4 connected)
                  <% end %>
                </a></li>
              <li><a href="/sign_out">Sign out</a></li>
            <%  end %> 
          </ul>
        </div>
      <% end %>
    </nav>    

    <div style="z-index: 1040; width: 40%; margin-left: -20%; left: 50%; position: absolute; margin-top: -40px">
      <% {:error => 'alert-danger', :warning => 'alert-warning', :notice => 'alert-info'}.each { |k,v| %>
        <% if flash[k] %>
          <div id="top-alert" class="fade in alert <%=v%> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= flash[k] %>
          </div>
        <% end %>        
      <% } %>       
    </div>
    <script>
      $(function() {
        $(".alert").alert();
        window.setTimeout(function() {
          $("#top-alert").alert('close');
        }, 3000);
      });
    </script>

    <%= yield %>

    <div id="footer" class="row">
      <div class="col-md-6 col-md-offset-3">
        <hr />
        <div class="restore-opacity" style="text-align: center">
          <a href="/about">About <%=ENV['SITE_NAME_SHORT']%></a>
          &middot;
          <a href="mailto:<%=ENV['HELP_ADDRESS']%>">Feedback/questions</a>
        </div>
      </div>
    </div>

  </body>
</html>
