<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=ENV['SITE_NAME']%></title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="/stylesheets/compressed.css" />    
    <script src="/javascripts/compressed.js"></script>

    <%= Fragment.find_by(slug: 'head').try(:body) %>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if !current_account %>
          <a class="navbar-brand" href="/"><%=ENV['SITE_NAME']%></a>
        <% end %>        
      </div>      
      <div class="collapse navbar-collapse" id="navbar-top">        
        <% if current_account %>
          <ul class="nav navbar-nav">
            <% if current_account %>
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <% if current_account.memberships.count > 1 %>
                <li class="dropdown">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="#">
                    <i class="fa fa-group"></i> My groups
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% current_account.memberships.map(&:group).sort_by(&:slug).each { |group| %>
                      <li><a href="/groups/<%=group.slug%>"><%= group.slug %></a></li>
                    <% } %>  
                  </ul>        
                </li>    
              <% end %>
              <% unless Fragment.find_by(slug: 'hide-directory') %>
                <li><a href="/groups/directory"><i class="fa <%=Fragment.find_by(slug: 'directory-icon').try(:body) || 'fa-book'%>"></i> All groups</a></li>
              <% end %>                
              <% if GroupType.count > 0 %>
                <% GroupType.all.each { |group_type| %>
                  <li><a href="/groups/directory/<%=group_type.slug%>"><i class="fa <%=group_type.icon%>"></i> <%=group_type.name%> groups</a></li>
                <% } %>
              <% end %>
              <% unless ENV['HIDE_ORGANISATIONS_TAB'] %>
                <li><a href="/organisations"><i class="fa <%=ENV['ICON_ORGANISATIONS'] || 'fa-bullhorn'%>"></i> <%=I18n.t(:organisations).capitalize%></a></li>
              <% end %>
              <% unless ENV['HIDE_SECTORS_TAB'] %>
                <li><a href="/sectors"><i class="fa <%=ENV['ICON_SECTORS'].try(:body) || 'fa-th-list'%>"></i> <%=I18n.t(:sectors).capitalize%></a></li>
              <% end %>
            <%  end %>
          </ul>  
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if current_account %>
            <li><a href="/me/edit">
                Edit profile & connect accounts 
                <% if (x = current_account.connections.count)/(y = Provider.all.select { |provider| provider.registered? }.count).to_f < 0.5 %>
                  (<%=x%>/<%=y%> connected)
                <% end %>
              </a></li>
            <li><a href="/sign_out">Sign out</a></li>
          <% elsif ENV['PUBLIC_HOMEPAGE'] %> 
            <li><a href="/sign_in">Sign in</a></li>
          <% end %>
        </ul>
      </div>
    </nav>    

    <div style="z-index: 1040; width: 40%; margin-left: -20%; left: 50%; position: absolute; margin-top: -40px">
      <% {:error => 'alert-danger', :warning => 'alert-warning', :notice => 'alert-info'}.each { |k,v| %>
        <% if flash[k] %>
          <div id="top-alert" class="fade in alert <%=v%> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= flash[k] %>
          </div>
        <% end %>        
      <% } %>       
    </div>
    <script>
      $(function() {
        $(".alert").alert();
        window.setTimeout(function() {
          $("#top-alert").alert('close');
        }, 5000);
      });
    </script>

    <%= yield %>

    <div id="footer" class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr />
        <div class="restore-opacity" style="text-align: center">              
          <% if current_account %>
            <a href="/about">About <%=ENV['SITE_NAME_SHORT']%></a>
            &middot;
          <% end %>
          <a href="mailto:<%=ENV['HELP_ADDRESS']%>">Feedback/questions</a>
          &middot;
          Powered by <a target="_blank" href="http://wordsandwriting.github.io/lumen/">Lumen</a>
          <% if current_account and current_account.admin? %>
            &middot; <a href="/analytics">Sitewide analytics</a>
            &middot; <a href="/config">Lumen configuration</a>
          <% end %>          
        </div>
      </div>
    </div>

  </body>
</html>
