<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=ENV['SITE_NAME']%></title>

    <% {            
      'jquery/1.11.2' => 'jquery.min.js',
      'webshim/1.15.7' => 'minified/polyfiller.js',
      'bootswatch/3.3.2' => 'lumen/bootstrap.min.css',      
      'twitter-bootstrap/3.3.2' => 'js/bootstrap.min.js',
      'font-awesome/4.3.0' => 'css/font-awesome.min.css',
      'select2/3.5.2' => 'select2.min.js select2.min.css',  
      'codemirror/5.0.0' => 'codemirror.min.css theme/monokai.min.css codemirror.min.js mode/xml/xml.min.js',      
      'summernote/0.6.1' => 'summernote.min.css summernote.min.js',
      'bootstrap-datepicker/1.3.1' => 'js/bootstrap-datepicker.min.js css/datepicker.min.css'
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script type="text/javascript" src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <%
    [
      'bootstrap-stacked-tabs.css',      
      'app.css',
      'news.css'      
      ].each { |file| %> 
      <link rel="stylesheet" href="/stylesheets/<%=file%>" />    
    <% } %>

    <% [
      'bootstrap3-typeahead.min.js',
      'jquery.deparam.js',
      'jquery.geopicker.js',      
      'jquery.lookup.js',
      'jquery.typing-0.3.0.min.js',
      'app.js'
      ].each { |file| %>
      <script src="/javascripts/<%=file%>"></script>
    <% } %>    

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>    
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer_packed.js"></script>

    <% if ENV['GOOGLE_ANALYTICS_TRACKING_ID'] and Padrino.env == :production %>
      <script>
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '<%=ENV['GOOGLE_ANALYTICS_TRACKING_ID']%>', 'auto');
        ga('send', 'pageview');

      </script>    
    <% end %>   

    <%= eval(f('head')) %>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if !current_account %>
          <a class="navbar-brand" href="/"><%=ENV['SITE_NAME']%></a>
        <% end %>        
      </div>      
      <div class="collapse navbar-collapse" id="navbar-top">        
        <% if current_account %>
          <ul class="nav navbar-nav">
            <% if current_account %>
              <li><a href="/"><i class="fa fa-home"></i> <%=I18n.t(:home).capitalize%></a></li>
              <% if current_account.memberships.count > 1 %>
                <li class="dropdown">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="#">
                    <i class="fa fa-group"></i> <%=I18n.t(:my_groups).capitalize%>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% current_account.memberships.map(&:group).sort_by(&:slug).each { |group| %>
                      <li><a href="/groups/<%=group.slug%>"><%= group.slug %></a></li>
                    <% } %>  
                  </ul>        
                </li>    
              <% end %>
              <% unless ENV['HIDE_DIRECTORY_TAB'] %>
                <li><a href="/groups/directory"><i class="fa fa-book"></i> <%=I18n.t(:all_groups).capitalize%></a></li>
              <% end %>      
              <% unless ENV['HIDE_GROUP_TYPE_TABS'] %>
                <% if GroupType.count > 0 %>
                  <% GroupType.all.each { |group_type| %>
                    <li><a href="/groups/directory/<%=group_type.slug%>"><i class="fa <%=group_type.icon%>"></i> <%=group_type.name%> groups</a></li>
                  <% } %>
                <% end %>
              <% end %>
              <% unless ENV['HIDE_ACCOUNT_AFFILIATIONS'] %>
                <% unless ENV['HIDE_ORGANISATIONS_TAB'] %>
                  <li><a href="/organisations"><i class="fa <%=ENV['ICON_ORGANISATIONS'] || 'fa-bullhorn'%>"></i> <%=I18n.t(:organisations).capitalize%></a></li>
                <% end %>
                <% unless ENV['HIDE_SECTORS_TAB'] %>
                  <li><a href="/sectors"><i class="fa <%=ENV['ICON_SECTORS'].try(:body) || 'fa-th-list'%>"></i> <%=I18n.t(:sectors).capitalize%></a></li>
                <% end %>
              <% end %>
            <%  end %>
            <%= eval(f('navbar')) %>
          </ul>  
        <% end %>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <% if current_account %>
              <li><a href="/me/edit">
                  <%=I18n.t(:edit_profile_and_connect_accounts).capitalize%>
                  <% if (x = current_account.provider_links.count)/(y = Provider.registered.count).to_f < 0.5 %>
                    (<%=x%>/<%=y%> connected)
                  <% end %>
                </a></li>
              <li><a href="/sign_out"><%=I18n.t(:sign_out).capitalize%></a></li>
            <% elsif Fragment.find_by(slug: 'public-homepage') %> 
              <li><a href="/sign_in"><%=I18n.t(:sign_in).capitalize%></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>    

    <div style="z-index: 1040; width: 40%; margin-left: -20%; left: 50%; position: absolute; margin-top: -40px">
      <% {:error => 'alert-danger', :warning => 'alert-warning', :notice => 'alert-info'}.each { |k,v| %>
        <% if flash[k] %>
          <div id="top-alert" class="fade in alert <%=v%> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= flash[k] %>
          </div>
        <% end %>        
      <% } %>       
    </div>
    <script>
      $(function () {
        $(".alert").alert();
        window.setTimeout(function () {
          $("#top-alert").alert('close');
        }, 5000);
      });
    </script>

    <% unless @containerless %>
      <div class="container-fluid">
      <% end %>
      <%= yield %>
      <% unless @containerless %>
      </div>
    <% end %>

    <div class="container-fluid">
      <div id="footer" class="row">
        <div class="col-md-8 col-md-offset-2">
          <hr />
          <div class="restore-opacity" style="text-align: center">              
            <% if current_account %>
              <a href="/about">About <%=ENV['SITE_NAME_SHORT']%></a>
              &middot;
            <% end %>
            <a href="mailto:<%=ENV['HELP_ADDRESS']%>">Feedback/questions</a>
            &middot;
            Powered by <a target="_blank" href="http://wordsandwriting.github.io/lumen/">Lumen</a>
            <% if current_account %>
              <% if current_account.admin? %>
                &middot; <a href="/analytics">Sitewide analytics</a>
                &middot; <a href="/config">Lumen configuration</a>
              <% end %>          
              <% if current_account.admin? or current_account.translator %>
                &middot; <a href="/translations">Translations</a>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content page-container">
        </div>
      </div>
    </div>    

  </body>
</html>
