<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=ENV['SITE_NAME']%></title>

    <% {            
      'jquery/1.11.2' => 'jquery.min.js',
      'webshim/1.15.7' => 'minified/polyfiller.js',   
      'twitter-bootstrap/3.2.0' => 'css/bootstrap.min.css js/bootstrap.min.js',      
      'flat-ui/2.2.2' => 'css/flat-ui.min.css',
      'font-awesome/4.3.0' => 'css/font-awesome.min.css',
      'select2/3.5.2' => 'select2.min.js select2.min.css',  
      'codemirror/5.0.0' => 'codemirror.min.css theme/monokai.min.css codemirror.min.js mode/xml/xml.min.js',      
      'summernote/0.6.1' => 'summernote.min.css summernote.min.js',
      'bootstrap-datepicker/1.3.1' => 'js/bootstrap-datepicker.min.js css/datepicker.min.css',
      'moment.js/2.10.6' => 'moment.min.js',
      'fullcalendar/2.4.0' => 'fullcalendar.min.js fullcalendar.min.css',
      'jquery-timeago/1.4.3' => 'jquery.timeago.min.js'
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "//cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <script src="//maps.googleapis.com/maps/api/js"></script>    
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer_packed.js"></script>

    <% [
      '/fonts/lovelo_black/stylesheet.css',
      '/stylesheets/app.css',      
      '//cdn.rawgit.com/alxlit/bootstrap-chosen/5e0f79a22da6b4030af67f49a192cafc5f82fabf/bootstrap-chosen.css'
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      '//cdn.rawgit.com/chrissrogers/jquery-deparam/05018fe327c3675250f91f6ead6e83ef90dab1d0/jquery-deparam.min.js',      
      '//cdn.rawgit.com/wordsandwriting/activate-tools/72fe3fc8f38067c084d4278d1cf6d6f5af546a42/js/jquery.geopicker.js',
      '//cdn.rawgit.com/wordsandwriting/activate-tools/72fe3fc8f38067c084d4278d1cf6d6f5af546a42/js/jquery.lookup.js',
      '//cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/d5d71f28b00a16766d2661aef6a75f80f1f604da/bootstrap3-typeahead.min.js',      
      '//cdn.rawgit.com/m1ket/jquery-typing/7bfdbca1014b418fac5de12c86a91850bc8edd25/plugin/jquery.typing-0.3.0.min.js',
      ("//cdn.rawgit.com/rmm5t/jquery-timeago/5293dacee881e78b25bd4f699161fca81dff5205/locales/jquery.timeago.#{I18n.locale}.js" if I18n.locale != :en),
      '/javascripts/chosen/chosen.jquery.min.js',
      '/javascripts/app.js'
      ].compact.each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>      

    <% if ENV['GOOGLE_ANALYTICS_TRACKING_ID'] and Padrino.env == :production %>
      <script>
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '<%=ENV['GOOGLE_ANALYTICS_TRACKING_ID']%>', {'allowAnchor': true});
        ga('send', 'pageview', {'page': location.pathname + location.search + location.hash});

        $(function () {
          $('a[data-toggle=tab]').on('shown.bs.tab', function (e) {
            ga('send', 'pageview', location.pathname + location.search + $(this).attr('href'));
          });
        });
      </script>    
    <% end %>   

    <%= eval(f('head')) %>

  </head>
  <body>

    <div class="container-fluid">
      <nav class="navbar navbar-inverse" style="margin-bottom: 10px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%=ENV['SITE_NAME_SHORT'] || '<i class="fa fa-home"></i>'%></a>        
        </div>
        <div class="collapse navbar-collapse" id="navbar-top">        
          <% if current_account %>
            <ul class="nav navbar-nav">
              <% if current_account %>
                <li><a href="/network"><%=I18n.t(:people).capitalize%></a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <%=I18n.t(:groups).capitalize%>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% current_account.memberships.map(&:group).sort_by(&:slug).each { |group| %>
                      <li><a href="/groups/<%=group.slug%>"><%= group.slug %></a></li>
                    <% } %>  
                    <li role="separator" class="divider"></li>
                    <li><a href="/groups/directory"><%=I18n.t(:all_groups).capitalize%></a></li>
                  </ul>        
                </li>    
              <%  end %>
              <li><a href="/events"><%=I18n.t(:events).capitalize%></a></li>                                                
              <li><a href="/map"><%=I18n.t(:map).capitalize%></a></li>
              <li><a href="/docs"><%=I18n.t(:docs).capitalize%></a></li>                  
            </ul>  
          <% end %>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <% if current_account %>
                <%= eval(f('navbar')) %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Hello <%=current_account.firstname%>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/me/edit"><%=I18n.t(:edit_profile).capitalize%></a></li>
                    <li><a href="/sign_out"><%=I18n.t(:sign_out).capitalize%></a></li>                    
                  </ul>
                </li>
              <% else %> 
                <li><a href="/sign_in"><%=I18n.t(:sign_in).capitalize%></a></li>
              <% end %>
            </ul>
          </div>
      </nav>    
    </div>

    <div style="z-index: 1040; width: 40%; margin-left: -20%; left: 50%; position: absolute; margin-top: -40px">
      <% {:error => 'alert-danger', :warning => 'alert-warning', :notice => 'alert-info'}.each { |k,v| %>
        <% if flash[k] %>
          <div id="top-alert" class="fade in alert <%=v%> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= flash[k] %>
          </div>
        <% end %>        
      <% } %>       
    </div>
    <script>
      $(function () {
        $(".alert").alert();
        window.setTimeout(function () {
          $("#top-alert").alert('close');
        }, 5000);
      });
    </script>

    <div class="container-fluid">
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="container-fluid">
        <div style="text-align: center">       
          <ul class="list-inline" style="margin-bottom: 0">
            <% if current_account %>
              <li><a href="/about">About <%=ENV['SITE_NAME_SHORT']%></a></li>
              <% if current_account.admin? %>
                <li><a href="/analytics">Sitewide analytics</a></li>
                <li><a href="/config">Lumen configuration</a></li>
              <% end %>          
              <% if current_account.admin? or current_account.translator %>
                <li><a href="/translations">Translations</a></li>
              <% end %>
            <% end %>
            <li><a href="mailto:<%=ENV['HELP_ADDRESS']%>">Feedback/questions</a></li>
            <li><a target="_blank" href="http://wordsandwriting.github.io/lumen/">Powered by Lumen</a></li>
        </div>
      </div>
    </div>


    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content page-container">
        </div>
      </div>
    </div>    

  </body>
</html>
