<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=ENV['SITE_NAME']%></title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>    

    <style>            
<%= File.open("#{Padrino.root}/app/assets/stylesheets/font-awesome.min.css", "r").read %>      
<%= File.open("#{Padrino.root}/app/assets/stylesheets/email.css", "r").read %>
<%= File.open("#{Padrino.root}/app/assets/stylesheets/news.css", "r").read %>
    </style>         

  </head>
  <body>

    <%= yield %>

    <%= partial :footer %>

  </body>
</html>
