<div class="media">
  <a class="pull-left">
    <img style="width: 100px" src="<%=account.picture ? account.picture.thumb('100x100#').url : '/images/silhouette.png' %>">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a href="/accounts/<%=account.id%>"><%=account.name%></a></h4>        
    <ul class="fa-ul">
      <% account.affiliations.each { |affiliation|%>
        <li><i title="<%=affiliation.title%> at <%=affiliation.organisation.name%>" class="fa fa-li fa-briefcase"></i><%=affiliation.title%> at <a href="/organisations/<%=affiliation.organisation_id%>"><%=affiliation.organisation.name%></a></li>
      <% } %>
    </ul>          
  </div>
</div> 