<div class="media">
  <a class="pull-left">
    <img style="width: 100px" src="<%=account.picture ? account.picture.thumb('100x100#').url : '/images/silhouette.png' %>">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a href="/accounts/<%=account.id%>"><%=account.name%></a></h4>   
    <ul class="fa-ul">    
      <% if !ENV['HIDE_SEARCH_MEMBERSHIPS'] %>    
        <% if account.public_memberships.count > 0 %>
          <li>
            <i title="Groups" class="fa fa-li fa-group"></i>
            Member of <%= account.public_memberships.map { |membership| %Q{<a href="/groups/#{membership.group.slug}">#{membership.group.slug}</a>} }.to_sentence %>
          </li>
        <% end %>    
      <% end %>
      <% if !ENV['HIDE_ACCOUNT_AFFILIATIONS'] %>
        <% account.affiliations.each { |affiliation|%>
          <li><i title="<%=affiliation.title%> at <%=affiliation.organisation.name%>" class="fa fa-li fa-briefcase"></i><%=affiliation.title%> at <a href="/organisations/<%=affiliation.organisation_id%>"><%=affiliation.organisation.name%></a></li>
        <% } %>
      <% end %>
      <% if !ENV['HIDE_SEARCH_TAGS'] %>
        <% if account.account_tagships.count > 0 %>
          <li>
            <i title="<%=I18n.t(:account_tagships).capitalize%>" class="fa fa-li fa-tags"></i>
            <% account.account_tagships.each { |account_tagship|%>
              <a href="/network?account_tag_id=<%=account_tagship.account_tag_id%>" class="label label-primary" style="text-indent: 0"><%=account_tagship.account_tag.name%></a>
            <% } %>
          </li>
        <% end %>    
      <% end %>
      <%= partial :'accounts/social_media', :locals => {:account => account} %>  
    </ul>
  </div>
</div> 