<% col_class = 'col-md-6'; if defined? full_width; col_class = 'col-md-3' end %>

<% form_tag '/accounts/results', :method => 'get', :id => 'results-form' do %>
  <%= hidden_field_tag :per_page, :value => (per_page if defined? per_page)%> 
  <%= hidden_field_tag :scope, :value => scope %> 
  <%= hidden_field_tag :scope_id, :value => scope_id %>
  <%= hidden_field_tag :full_width, :value => (defined? full_width) %>

  <div class="row">

    <div class="<%=col_class%>"> 
      <%= text_field_tag :name, :class => 'input-sm form-control', :placeholder => I18n.t(:filter_by_name).capitalize %>
    </div>

    <%  if defined?(full_width) or ENV['SHOW_COMPACT_ORG_FILTER'] %>
      <div class="<%=col_class%>">   
        <%= text_field_tag :organisation_name, :class => 'input-sm form-control', :placeholder => I18n.t(:filter_by_organisation).capitalize %>
      </div>
    <% end %>

    <%  if defined?(full_width) or ENV['SHOW_COMPACT_TAG_FILTER'] %>
      <div class="<%=col_class%>">   
        <%= text_field_tag :account_tag_name, :class => 'input-sm form-control', :placeholder => I18n.t(:filter_by_account_tagship).capitalize %>
      </div>
    <% end %>

    <% unless ENV['HIDE_COMPACT_SORT'] %>
      <div class="<%=col_class%>">
        <div style="text-align: right" >      
          <i style="margin-right: 4px" title="Sort by" class="fa fa-sort"></i>
          <%= select_tag :o, :class => 'form-control input-sm', :style => 'display: inline; width: auto', :options => {I18n.t(:date_joined).capitalize => :date, I18n.t(:name).capitalize => :name, I18n.t(:last_updated).capitalize => :updated}, :selected => (defined?(o) ? o : :date) %>                      
        </div>
      </div>
    <% end %>

  </div>

  <%= submit_tag '', :style => 'display: none' %>

<% end %>  

<i id="filter-spin" style="display:none" class="fa fa-spin fa-spinner"></i>
<div id="results" class="page-container" style="margin-top: 10px"></div>
