<% form_tag '/accounts/results', :method => 'get', :id => 'results-form' do %>
  <%= hidden_field_tag :per_page, :value => (per_page if defined? per_page)%> 
  <%= hidden_field_tag :scope, :value => scope %> 
  <%= hidden_field_tag :scope_id, :value => scope_id %>
  <%= hidden_field_tag :full_width, :value => (defined? full_width) %>

  <%= hidden_field_tag :account_id, :id => 'account_id' %>
  <script>
    $(function () {
      $('#account_id').lookup({
        lookup_url: '/accounts/results?scope=<%=scope%>&scope_id=<%=scope_id%>&<%='full_width=true' if (defined? full_width) %>',
        placeholder: '<%=I18n.t(:filter_by_name).capitalize%>',
        rtype: 'account'
      }).on('change', function () {
        $('#results-form').submit();
      });
      ;
    });
  </script>

  <% unless ENV['HIDE_ACCOUNT_AFFILIATIONS'] %>

    <%= hidden_field_tag :organisation_id, :id => 'organisation_id', :value => params[:organisation_id] %>

    <script>
      $(function () {
        $('#organisation_id').lookup({
          lookup_url: '/accounts/results?scope=<%=scope%>&scope_id=<%=scope_id%>&<%='full_width=true' if (defined? full_width) %>',
          placeholder: '<%=I18n.t(:filter_by_organisation).capitalize%>',
          rtype: 'organisation'
        }).on('change', function () {
          $('#results-form').submit();
        });
      });
    </script>  

  <% end %>


  <% if !ENV['ACCOUNT_TAGS_PREDEFINED'] or AccountTag.count > 0 %>

    <%= hidden_field_tag :account_tag_id, :id => 'account_tag_id', :value => params[:account_tag_id] %>

    <script>
      $(function () {
        $('#account_tag_id').lookup({
          lookup_url: '/accounts/results?scope=<%=scope%>&scope_id=<%=scope_id%>&<%='full_width=true' if (defined? full_width) %>',
          placeholder: '<%=I18n.t(:filter_by_account_tagship).capitalize%>',
          rtype: 'account_tag',
        }).on('change', function () {
          $('#results-form').submit();
        });
      });
    </script>  

  <% end %>

  <div>
    <label class="radio-inline" style="padding-left: 0"><%=I18n.t(:sort_by).capitalize%></label>
    <% {I18n.t(:date_joined).capitalize => :date, I18n.t(:name).capitalize => :name, I18n.t(:last_updated).capitalize => :updated}.each { |k,v| %>
      <label class="radio-inline">
        <%= radio_button_tag 'o', :value => v, :checked => (@o == v) %> <%=k%>
      </label>        
    <% } %>      
    <label class="radio-inline">
      <i id="filter-spin" style="display:none" class="fa fa-spin fa-spinner"></i>
    </label>                      
  </div>

<% end %>  

<div id="results" class="page-container" style="margin-top: 10px"></div>
