<a href="/accounts/<%=account.id%>"><img style="display: block; margin: 0 auto; width: 130px" class="img-circle img-bordered" src="<%=account.picture ? account.picture.thumb('130x130#').url : '/images/silhouette.png' %>"></a>
<h3><a href="/accounts/<%=account.id%>"><%=account.name%></a></h3>
<ul class="fa-ul">    
  <% if !Config['HIDE_SEARCH_MEMBERSHIPS'] %>    
    <% if account.public_memberships.count > 0 %>
      <li>
        <i title="Groups" class="fa fa-li fa-group"></i>
        <%=I18n.t(:member_of).capitalize%> <%= account.public_memberships.map { |membership| %Q{<a href="/groups/#{membership.group.slug}">#{membership.group.name}</a>} }.to_sentence %>
      </li>
    <% end %>    
  <% end %>

  <% if !Config['HIDE_ACCOUNT_AFFILIATIONS'] %>
    <% account.affiliations.each { |affiliation|%>
      <li><i title="<%=affiliation.title%> <%=I18n.t(:at)%> <%=affiliation.organisation.name%>" class="fa fa-li fa-briefcase"></i><%=affiliation.title%> <%=I18n.t(:at)%> <a href="/organisations/<%=affiliation.organisation_id%>"><%=affiliation.organisation.name%></a></li>
      <% } %>
    <% end %>   
</ul>