      <% ['Twitter', 'Facebook', 'Google', 'LinkedIn'].each { |display_name| %>
        <li>
          <% if provider = Provider.all.find { |provider| provider.display_name == display_name } and provider.registered? %>         
            <% if provider_link = account.provider_links.find_by(provider: provider.display_name) %>          
              <i title="<%=provider.display_name%>" class="fa fa-li fa-<%=provider.icon%>"></i><a target="_blank" href="<%=provider.profile_url.call(provider_link.omniauth_hash)%>"><%=provider.nickname.call(provider_link.omniauth_hash)%></a>
            <% elsif display_placeholder %>
              <i style="opacity: 0.25" class="fa fa-li fa-<%=provider.icon%>"></i> &nbsp;
            <% end %>
          <% else %>
              <% if account.send("#{display_name.downcase}_profile_url") %>
                <i title="<%=display_name%>" class="fa fa-li fa-<%=display_name == 'Google' ? 'google-plus' : display_name.downcase%>"></i><a target="_blank" href="<%=account.send("#{display_name.downcase}_profile_url")%>"><%=account.send("#{display_name.downcase}_profile_url").split('/')[3..-1].join('/')%></a>
              <% elsif display_placeholder %>
                <i style="opacity: 0.25" class="fa fa-li fa-<%=display_name == 'Google' ? 'google-plus' : display_name.downcase%>"></i> &nbsp;
              <% end %>
          <% end %>
        </li>
      <% } %>