
<div class="form-group <%= 'has-error' if !f.error_message_on(:account_tagships).blank? %>">
  <label class="control-label col-md-3">
    <%=I18n.t(:account_tagships).capitalize%>
    <i title="e.g. talking to the media, fundraising" class="fa fa-question-circle" id="tip-tagships"></i>
    <script>
      $(function() {
        $('#tip-tagships').tooltip({placement: 'right'});
      });
    </script>        
  </label>
  <div class="col-md-6">             
    <div id="account_tagships">
      <% f.fields_for :account_tagships do |o| %>
        <div class="account_tagship">
          <%= o.text_field :account_tag_name, :class => 'form-control typeahead', :value => o.object.try(:account_tag).try(:name), :placeholder => I18n.t(:account_tagship).capitalize, :autocomplete => 'off' %>
          <% unless o.object.new_record? %>
            <span>          
              <i style="cursor: pointer" onclick="$(this).siblings().last().prop('checked', true).closest('.account_tagship').hide()" class="fa fa-times"></i>
              <%= o.check_box '_destroy', :style => 'display: none' %>                    
            </span>                
          <% end %>
        </div>
      <% end %>
    </div>
    <style>
      .account_tagship { margin-bottom: 10px }
      .account_tagship input { width:65%; display: inline }      
    </style>
    <script>
      $(function() {
        var icon = $('<div><i style="color: #999; cursor: pointer" class="fa fa-plus-square"></i> <a style="color: #999" href="javascript:;">Add another <%=I18n.t(:account_tagship)%></a></div>');
        $(icon).click(function() {
          var c = $('.account_tagship').length
          var i = $('<input type="text" />');
          i.attr('name', 'account[account_tagships_attributes][' + c + '][account_tag_name]');
          i.attr('id', 'account_account_tagships_attributes_' + c + '_account_tag_name');
          i.attr('placeholder', '<%=I18n.t(:account_tagship).capitalize%>');
          i.addClass('form-control');
          i.addClass('typeahead');
          i.prop('autocomplete', 'off');
          i.typeahead({source: account_tags});
          var d = $('<div class="account_tagship"/>');
          i.appendTo(d);
          $('<span><i style="visibility:hidden" class="fa fa-times"></i></span>').appendTo(d);
          d.appendTo('#account_tagships');
          i.focus();
        });
        icon.insertAfter('#account_tagships');
        var account_tags = <%=AccountTag.all.select { |account_tag| account_tag.account_tagships.count > 0 }.map { |account_tag| account_tag.name }.to_json %>;
        $('.account_tagship .typeahead').typeahead({source: account_tags});
      });
    </script>
  </div>
</div> 