<div class="row" style="margin-top: 20px">
  <div class="col-md-3">
    <img style="width: 100%" src="<%=@account.picture.try(:url) || '/images/silhouette.png' %>" />
  </div>
  <div class="col-md-5">
    <h2 style="margin-top: 0"><%=@account.name%></h2>        
    <ul class="fa-ul">
      <% if @account.public_memberships.count > 0 %>
        <li>
          <i title="Groups" class="fa fa-li fa-group"></i>
          Member of <%= @account.public_memberships.map { |membership| %Q{<a href="/groups/#{membership.group.slug}">#{membership.group.slug}</a>} }.to_sentence %>
        </li>
      <% end %>
      <% @account.affiliations.each { |affiliation|%>
        <li><i title="<%=affiliation.title%> at <%=affiliation.organisation.name%>" class="fa fa-li fa-briefcase"></i><%=affiliation.title%> at <a href="/organisations/<%=affiliation.organisation_id%>"><%=affiliation.organisation.name%></a></li>
      <% } %>          
      <% if @account.location %>
        <li><i title="Location" class="fa fa-li fa-location-arrow"></i>Based in <%=@account.location%></li>
      <% else %>
        <li><i style="opacity: 0.25" class="fa fa-li fa-location-arrow"></i></li> &nbsp;
      <% end %>                  
      <% if @account.account_tagships.count > 0 %>
        <li><i title="<%=I18n.t(:account_tagships).capitalize%>" class="fa fa-li fa-tags"></i><%@account.account_tagships.each { |account_tagship|%><span class="label label-default" style="text-indent: 0"><%=account_tagship.account_tag.name%></span> <% } %></li>
      <% else %>
        <li><i style="opacity: 0.25" class="fa fa-li fa-tags"></i></li> &nbsp;
      <% end %>             
      <li><i title="Email" class="fa fa-li fa-envelope"></i><a target="_blank" href="mailto:<%=@account.email%>"><%=@account.email%></a></li>         
      <% if @account.phone %>
        <li><i title="Phone" class="fa fa-li fa-phone"></i><%=@account.phone%></li>
      <% else %>
        <li><i style="opacity: 0.25" class="fa fa-li fa-phone"></i></li> &nbsp;
      <% end %>
      <% if @account.website %>
        <li><i title="Website" class="fa fa-li fa-globe"></i><a href="<%=@account.website%>"><%=@account.website%></a></li>
      <% else %>
        <li><i style="opacity: 0.25" class="fa fa-li fa-globe"></i></li> &nbsp;
      <% end %>        
      <% Provider.registered.each { |provider| %>
        <li>
          <% if connection = @account.connections.find_by(provider: provider.display_name) %>          
            <i title="<%=provider.display_name%>" class="fa fa-li fa-<%=provider.icon%>"></i><a target="_blank" href="<%=provider.profile_url.call(connection.omniauth_hash)%>"><%=provider.nickname.call(connection.omniauth_hash)%></a>
          <% else %>
            <i style="opacity: 0.25" class="fa fa-li fa-<%=provider.icon%>"></i> &nbsp;
          <% end %>
        </li>
      <% } %>
    </ul>

    <dl class="dl-horizontal">
      <% EnvFields.fields(Account).each { |fieldname, fieldtype|; if result = @account.send(fieldname) %>
          <h3><%=Account.human_attribute_name(fieldname)%></h3>
          <%=EnvFields.display(fieldtype, result) %>
        <% end } %>
    </dl>

    <% if @shared_conversations and !@shared_conversations.empty? %>
      <h3>Recently active in these conversations</h3>
      <%= partial :'conversations/conversations_table', :locals => {:conversations => @shared_conversations}%>
    <% end %>

  </div>
  <div class="col-md-4">
    <% if @account.coordinates or @account.affiliations.any? { |affiliation| affiliation.organisation.coordinates } %>
      <%= partial :'maps/map', :locals => {:points => ([@account] + @account.affiliations.map(&:organisation))} %>
    <% end %>
  </div>
</div>



