<ol class="breadcrumb" style="margin-bottom: 10px">
  <li><a href="/me"><%=current_account.name%></a></li>
  <li class="active">
    Edit
  </li>
</ol>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @account.sign_ins.count == 1 %>
      <%= Fragment.find_by(slug: 'first-time').try(:body) %>
    <% end %>

    <% form_for @account, @account.new_record? ? '/me/new' : '/me/edit', :class => 'form-horizontal', :multipart => true do |f| %>

      <%= f.text_block :name %>
      <%= partial :'accounts/affiliations', :locals => {:f => f} %>  
      <%= f.text_block :location, tip: Fragment.find_by(slug: 'tip-location').try(:body) %>
      <%= f.text_block :email %>
      <%= f.text_block :phone %>
      <%= f.text_block :website %>
      <% if ENV['ACCOUNT_TAGS_PREDEFINED'] and AccountTag.count > 0 %>
        <%= f.check_boxes_block :account_tag_ids, options: AccountTag.all.map { |account_tag| [account_tag.name, account_tag.id] }, checked: @account.account_tagships.map(&:account_tag_id) %>
      <% else %>
        <%= partial :'accounts/tagships', :locals => {:f => f} %>
      <% end %>    
      <% EnvFields.fields(Account).each { |fieldname, fieldtype| %> 
        <%= f.send("#{fieldtype}_block", fieldname, div_class: ('col-md-9' if [:wysiwyg, :text_area].include?(fieldtype))) %>
      <% } %>        
      <%= f.image_block :picture, rotate: false, hint: ('Connect an account below to automatically grab a picture' if !@account.picture) %>
      <%= f.password_block :password %>
      <%= f.password_block :password_confirmation %>
      <%= f.submit_block %>

    <% end %>

    <script>
      $(function() {
        $('.use-picture').popover({trigger: 'hover', html: true});
      });
    </script>
    <% Provider.all.each { |provider| if provider.registered? %>
        <div class="row" style="margin-bottom: 10px">
          <div class="col-md-3" style="text-align: right"><i class="fa fa-<%=provider.icon%>"></i></div>
          <div class="col-md-8">   
            <div class="row">
              <% if connection = @account.connections.select { |connection| connection.provider == provider.display_name }[0] %>
                <a class="col-md-4" style="margin-top: 5px" target="_blank" href="<%= provider.profile_url.call(connection.omniauth_hash) %>"><%=provider.nickname.call(connection.omniauth_hash)%></a>
                <% if current_account %>
                  <div class="col-md-3">
                    <a class="use-picture btn btn-default" href="/me/<%=provider.omniauth_name%>/use_picture" data-content="<img src='<%=provider.image.call(connection.omniauth_hash)%>'>" title="Click to use this picture">Use picture</a>
                  </div>
                  <div class="col-md-3">
                    <a class="btn btn-default" href="/me/<%=provider.omniauth_name%>/disconnect">Disconnect</a>
                  </div>
                <% end %>                
              <% else %>
                <span class="col-md-4" style="margin-top: 5px">Not connected</span>
                <div class="col-md-3">
                  <a class="btn btn-default" href="/auth/<%=provider.omniauth_name%>">Connect</a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end } %>    

  </div>
</div>

