<ol class="breadcrumb" style="margin-bottom: 10px">
  <li><a href="/me"><%=current_account.name%></a></li>
  <li class="active">
    Edit
  </li>
</ol>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if @account.sign_ins.count == 1 %>
      <%= eval(f('first-time')) %>
    <% end %>

    <% form_for @account, @account.new_record? ? '/me/new' : '/me/edit', :id => 'me-form', :class => 'form-horizontal', :multipart => true do |f| %>

      <%= f.text_block :name, tip: eval(f('tip-name')) %>
      <% if !ENV['HIDE_ACCOUNT_AFFILIATIONS'] %>
        <%= partial :'accounts/affiliations', :locals => {:f => f} %>  
      <% end %>
      <%= f.email_block :email, tip: eval(f('tip-email')) %>

      <%= eval(f('below-account-email')) %>

      <% if ENV['SHOW_ACCOUNT_FULL_NAME'] %>
        <%= f.text_block :full_name, tip: eval(f('tip-full-name')) %>
      <% end %>    
      <% if ENV['SHOW_ACCOUNT_HEADLINE'] %>
        <%= f.text_block :headline, tip: eval(f('tip-headline')) %>
      <% end %>      
      <%= f.text_block :location, tip: eval(f('tip-location')) %>    
      <% if !ENV['HIDE_ACCOUNT_PHONE'] %>
        <%= f.text_block :phone, tip: eval(f('tip-phone')) %>
      <% end %>
      <% if !ENV['HIDE_ACCOUNT_WEBSITE'] %>
        <%= f.url_block :website, tip: eval(f('tip-website')) %>
      <% end %>
      <% if !ENV['HIDE_ACCOUNT_TIME_ZONE'] %>
        <%= f.select_block :time_zone, tip: eval(f('tip-time-zone')) %>
      <% end %>
      <% if Language.count > 1 %>
        <%= f.select_block(:language_id, tip: eval(f('tip-language')), options: ['']+Language.all.map { |language| [language.name, language.id] }) %>
      <% end %>
      <% if ENV['ACCOUNT_TAGS_PREDEFINED'] %>
        <% if AccountTag.count > 0  %>
          <%= f.check_boxes_block :account_tag_ids, options: AccountTag.all.map { |account_tag| [account_tag.name, account_tag.id] }, checked: @account.account_tagships.map(&:account_tag_id) %>
        <% end %>
      <% else %>
        <%= partial :'accounts/tagships', :locals => {:f => f} %>
      <% end %>
      <script>
        $(function () {
          $('div[data-group-type]').each(function () {
            $('.control-label', this).text($(this).attr('data-group-type') + ' groups')
          });
        });
      </script>
      <% GroupType.where(:join_groups_via_profile => true).each { |group_type| %>
        <div data-group-type="<%=group_type.name%>">
          <%= f.check_boxes_block :group_ids, options: group_type.groups.where(:privacy => 'open').map { |group| [group.slug, group.id] }, checked: current_account.memberships.map(&:group_id) %>
        </div>
      <% } %>      
      <% EnvFields.fields(Account).each { |fieldname, fieldtype| %> 
        <%= f.send("#{fieldtype}_block", fieldname, div_class: ('col-md-9' if [:wysiwyg, :text_area].include?(fieldtype))) %>
      <% } %>        

      <script>
        $(function () {
          $('.use-picture').popover({trigger: 'hover', html: true});
        });
      </script>

      <% ['Twitter', 'Facebook', 'Google', 'LinkedIn'].each { |display_name| %>

        <% if provider = Provider.all.find { |provider| provider.display_name == display_name } and provider.registered? %>                       
          <div class="row" style="margin-bottom: 10px">
            <div class="col-md-3" style="text-align: right"><%=provider.display_name%></div>
            <div class="col-md-8">   
              <div class="row">
                <% if provider_link = @account.provider_links.select { |provider_link| provider_link.provider == provider.display_name }[0] %>
                  <a class="col-md-4" style="margin-top: 5px" target="_blank" href="<%= provider.profile_url.call(provider_link.omniauth_hash) %>"><%=provider.nickname.call(provider_link.omniauth_hash)%></a>
                  <% if current_account %>
                    <div class="col-md-3">
                      <a class="use-picture btn btn-default" href="/me/<%=provider.omniauth_name%>/use_picture" data-content="<img src='<%=provider.image.call(provider_link.omniauth_hash)%>'>" title="Click to use this picture">Use picture</a>
                    </div>
                    <div class="col-md-3">
                      <a class="btn btn-default" href="/me/<%=provider.omniauth_name%>/disconnect">Disconnect</a>
                    </div>
                  <% end %>                
                <% else %>
                  <span class="col-md-4" style="margin-top: 5px">Not connected</span>
                  <div class="col-md-3">
                    <a class="popup btn btn-default" onclick="$('#me-form').append('<input type=\'hidden\' name=\'return\' value=\'1\' />').submit();" href="/auth/<%=provider.omniauth_name%>">
                      <i class="fa fa-<%=provider.icon%>"></i> Connect</a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>      
        <% else %>
          <%= f.text_block :"#{display_name.downcase}_profile_url" %>
        <% end %>

      <% } %>

      <%= f.image_block :picture, rotate: false, hint: ('Connect an account above to automatically grab a picture' if !@account.picture and Provider.all.any? { |provider| provider.registered? }) %>
      <%= f.password_block :password %>
      <%= f.password_block :password_confirmation %>
      <%= f.submit_block %>

    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Delete account</h3>
      </div>
      <div class="panel-body">
        <p>To completely remove your account, type your name into the box below and click 'Delete account'.</p>

        <% form_tag '/me/destroy', :class => 'form-inline' do %>
          <%= text_field_tag :name, :class => 'form-control' %>
          <button class="btn btn-danger">Delete account</button>
        <% end %>   
      </div>
    </div>

  </div>
</div>

