
<div style="text-align: center; margin-bottom: 20px">

  <p style="margin: 1em"><%=I18n.t(:welcome_to).capitalize%> <%=Config['SITE_NAME_DEFINITE']%>!</p>   

  <% form_tag '/auth/account/callback', :id => 'sign_in' do %>
    <div class="form-group" style="display:block; margin-bottom: 0.5em">
      <label class="sr-only">Email</label>
      <%= text_field_tag :email, :id => 'email', :class => 'form-control', :placeholder => 'Email', :style => 'display: inline-block; max-width: 20em; ' %>
    </div>        
    <div class="form-group" style="display:block; margin-bottom: 0.5em">
      <label class="sr-only">Password</label>
      <%= password_field_tag :password, :id => 'password', :class => 'form-control', :placeholder => 'Password', :style => 'display: inline-block; max-width: 20em; ' %>
    </div>
    <button class="btn btn-primary" type="submit">Sign in</button>  
    <div style="margin: 10px" >
      <a href="javascript:;" onclick="$(this).hide();
                $('#sign_in').hide();
                $('#forgot').show();
                $('#forgot_email').focus();">Forgot your password?</a>
    </div>
  <% end %>

  <% form_tag '/accounts/forgot_password', :id => 'forgot', :class => 'form-inline', :style => 'display: none' do %>
    <div class="form-group" style="display:block; margin-bottom: 0.5em">
      <label class="sr-only">Email</label>   
      <%= text_field_tag :email, :id => 'forgot-email', :class => 'form-control', :placeholder => 'Email', :style => 'display: inline-block; max-width: 20em;' %>
    </div>
    <button class="btn btn-primary" type="submit">Reset password</button>
  <% end %>

  <% if !Provider.registered.empty? %>
    <p style="margin-top: 10px">If you've connected your account to an external service:</p>
    <p style="margin: 1em 0">
      <%  Provider.registered.each { |provider| %>             
        <a class="btn btn-default" href="/auth/<%=provider.omniauth_name%>"><i class="fa fa-<%=provider.icon%>"></i> Sign in with <%=provider.display_name%></a>
      <% } %>
    </p>                    
  <% end %>

  <%= eval(f('sign-in')) %>

</div>
